WF1_Intake_Auto_Disqualification.json
{
  "name": "WF1 - Intake & Auto-Disqualification",
  "nodes": [
    {
      "parameters": {
        "content": "# WF1: INTAKE FORM WEBHOOK & AUTO-DISQUALIFICATION\n\n**Endpoint:** POST /webhook/intake-form\n\n**Flow:**\n1. Receive form submission from React intake form\n2. Validate all fields (format, required, business hours)\n3. Generate Lead ID (LEAD-YYYYMMDD-XXXX)\n4. Run disqualification rules (deterministic — NO AI):\n   - Jurisdiction check (province in served list?)\n   - Asset minimum check (above $100K threshold?)\n   - Goal mismatch (at least one goal the firm serves?)\n5. Route: Disqualified → rejection email + log | Qualified → AI enrichment\n\n**Disqualification is DETERMINISTIC — no AI involvement.**\nRules configured via Redis firm:config keys.",
        "height": 520,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-800, -200],
      "id": "sn-wf1-overview",
      "name": "WF1 Overview"
    },
    {
      "parameters": {
        "content": "### DISQUALIFICATION RULES ENGINE\n\n**Rule 1 — Jurisdiction:** Province must be in firm:config.served_provinces\n**Rule 2 — Minimum Assets:** Mapped numeric value must be ≥ firm:config.min_assets_threshold\n**Rule 3 — Goal Mismatch:** At least one financialGoal must be in firm:config.offered_goal_types\n\n**Asset Mapping:**\nunder_25k → 12500 | 25k_100k → 62500 | 100k_250k → 175000\n250k_500k → 375000 | 500k_1m → 750000 | 1m_plus → 1500000\n\n**All rules are deterministic code — NO AI.**",
        "height": 340,
        "width": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [480, -200],
      "id": "sn-rules-engine",
      "name": "Rules Engine Docs"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intake-form",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 200],
      "id": "intake-webhook",
      "name": "Intake Form Webhook"
    },
    {
      "parameters": {
        "jsCode": "// ============================\n// VALIDATE INTAKE FORM DATA\n// ============================\nconst body = $input.first().json.body || $input.first().json;\n\nconst errors = [];\n\n// Required string fields\nconst requiredStrings = ['fullName', 'email', 'phone', 'province', 'investableAssets', 'annualIncome', 'investmentTimeline', 'riskTolerance', 'currentAdvisorSituation', 'preferredDate', 'preferredTime'];\nfor (const field of requiredStrings) {\n  if (!body[field] || String(body[field]).trim() === '') {\n    errors.push(`Missing required field: ${field}`);\n  }\n}\n\n// financialGoals must be non-empty array\nif (!body.financialGoals || !Array.isArray(body.financialGoals) || body.financialGoals.length === 0) {\n  errors.push('financialGoals must be a non-empty array');\n}\n\n// Consent must be true\nif (body.consentGiven !== true) {\n  errors.push('consentGiven must be true');\n}\n\n// Email validation\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (body.email && !emailRegex.test(body.email)) {\n  errors.push(`Invalid email format: ${body.email}`);\n}\n\n// Validate preferredDate is future & weekday\nif (body.preferredDate) {\n  const pDate = new Date(body.preferredDate + 'T12:00:00');\n  const now = new Date();\n  if (pDate <= now) errors.push('preferredDate must be in the future');\n  const day = pDate.getDay();\n  if (day === 0 || day === 6) errors.push('preferredDate must be a weekday');\n}\n\n// Validate preferredTime is within business hours\nif (body.preferredTime) {\n  const [h, m] = body.preferredTime.split(':').map(Number);\n  if (h < 9 || h >= 17) errors.push('preferredTime must be between 09:00 and 17:00');\n}\n\n// Validate enums\nconst validAssets = ['under_25k', '25k_100k', '100k_250k', '250k_500k', '500k_1m', '1m_plus'];\nif (body.investableAssets && !validAssets.includes(body.investableAssets)) {\n  errors.push(`Invalid investableAssets value: ${body.investableAssets}`);\n}\n\nconst validTimelines = ['under_1yr', '1_3yr', '3_5yr', '5_10yr', '10_plus'];\nif (body.investmentTimeline && !validTimelines.includes(body.investmentTimeline)) {\n  errors.push(`Invalid investmentTimeline value: ${body.investmentTimeline}`);\n}\n\nconst validRisk = ['conservative', 'moderate', 'aggressive'];\nif (body.riskTolerance && !validRisk.includes(body.riskTolerance)) {\n  errors.push(`Invalid riskTolerance value: ${body.riskTolerance}`);\n}\n\nreturn [{\n  json: {\n    valid: errors.length === 0,\n    errors,\n    formData: body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 200],
      "id": "validate-form",
      "name": "Validate Intake Form"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "valid-check", "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [80, 200],
      "id": "validation-check",
      "name": "Valid?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, errors: $('Validate Intake Form').first().json.errors }) }}",
        "options": { "responseCode": 400 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [300, 400],
      "id": "respond-400",
      "name": "Return 400"
    },
    {
      "parameters": {
        "jsCode": "// ============================\n// GENERATE LEAD ID\n// ============================\nconst now = new Date();\nconst year = now.getFullYear();\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst day = String(now.getDate()).padStart(2, '0');\nconst rand = String(Math.floor(1000 + Math.random() * 9000));\nconst leadId = `LEAD-${year}${month}${day}-${rand}`;\n\nconst formData = $('Validate Intake Form').first().json.formData;\n\nreturn [{\n  json: {\n    leadId,\n    submittedAt: now.toISOString(),\n    ...formData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 100],
      "id": "generate-lead-id",
      "name": "Generate Lead ID"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "firm:config"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [540, 100],
      "id": "get-config",
      "name": "Get Firm Config",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "jsCode": "// ============================\n// DISQUALIFICATION RULES ENGINE\n// Deterministic — NO AI\n// ============================\nconst lead = $('Generate Lead ID').first().json;\nlet configRaw = $('Get Firm Config').first().json;\n\n// Redis returns the value in different ways depending on version\nlet config;\nif (typeof configRaw === 'string') {\n  config = JSON.parse(configRaw);\n} else if (configRaw.data) {\n  config = JSON.parse(configRaw.data);\n} else {\n  config = configRaw;\n}\n\nconst reasons = [];\n\n// RULE 1: JURISDICTION CHECK\nconst servedProvinces = config.served_provinces || ['ON', 'BC', 'AB', 'QC'];\nif (!servedProvinces.includes(lead.province)) {\n  reasons.push('jurisdiction_not_served');\n}\n\n// RULE 2: MINIMUM ASSETS\nconst assetMap = {\n  'under_25k': 12500,\n  '25k_100k': 62500,\n  '100k_250k': 175000,\n  '250k_500k': 375000,\n  '500k_1m': 750000,\n  '1m_plus': 1500000\n};\nconst minThreshold = Number(config.min_assets_threshold) || 100000;\nconst assetValue = assetMap[lead.investableAssets] || 0;\nif (assetValue < minThreshold) {\n  reasons.push('below_asset_threshold');\n}\n\n// RULE 3: GOAL MISMATCH\nconst offeredGoals = config.offered_goal_types || [];\nconst userGoals = lead.financialGoals || [];\nconst goalsArray = Array.isArray(userGoals) ? userGoals : userGoals.split(',').map(s => s.trim());\nconst hasMatchingGoal = goalsArray.some(g => offeredGoals.includes(g));\nif (!hasMatchingGoal) {\n  reasons.push('goal_mismatch');\n}\n\nreturn [{\n  json: {\n    disqualified: reasons.length > 0,\n    disqualificationReasons: reasons,\n    leadId: lead.leadId,\n    leadData: lead,\n    assetNumeric: assetValue,\n    config: {\n      servedProvinces,\n      minThreshold,\n      offeredGoals\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 100],
      "id": "disqualification-engine",
      "name": "Disqualification Rules Engine"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputIndex": 0, "conditions": { "conditions": [{ "leftValue": "={{ $json.disqualified }}", "rightValue": false, "operator": { "type": "boolean", "operation": "false" } }] } },
            { "outputIndex": 1, "conditions": { "conditions": [{ "leftValue": "={{ $json.disqualified }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }] } }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1020, 100],
      "id": "disqual-router",
      "name": "Disqualification Router",
      "outputs": ["Qualified", "Disqualified"]
    },
    {
      "parameters": {
        "content": "## QUALIFIED PATH\n\n1. Initialize Redis lead state\n2. Log to Sheets (status: PENDING_ENRICHMENT)\n3. Respond 200 to form\n4. Trigger WF2 - AI Enrichment",
        "height": 180,
        "width": 360,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1200, -160],
      "id": "sn-qualified-path",
      "name": "Qualified Path"
    },
    {
      "parameters": {
        "jsCode": "// Build Redis hash for qualified lead\nconst data = $('Disqualification Rules Engine').first().json;\nconst lead = data.leadData;\nconst goalsStr = Array.isArray(lead.financialGoals) ? lead.financialGoals.join(',') : lead.financialGoals;\n\nreturn [{\n  json: {\n    key: `leadstate_${lead.leadId}`,\n    status: 'PENDING_ENRICHMENT',\n    leadId: lead.leadId,\n    fullName: lead.fullName,\n    email: lead.email,\n    phone: lead.phone || '',\n    province: lead.province,\n    investableAssets: lead.investableAssets,\n    annualIncome: lead.annualIncome,\n    financialGoals: goalsStr,\n    investmentTimeline: lead.investmentTimeline,\n    riskTolerance: lead.riskTolerance,\n    currentAdvisorSituation: lead.currentAdvisorSituation,\n    preferredDate: lead.preferredDate || '',\n    preferredTime: lead.preferredTime || '',\n    backupDate: lead.backupDate || '',\n    backupTime: lead.backupTime || '',\n    freeText: lead.freeText || '',\n    submittedAt: lead.submittedAt,\n    followUpCount: '0'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 0],
      "id": "prep-redis-qualified",
      "name": "Prep Redis State (Qualified)"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.key }}",
        "value": "={{ JSON.stringify($json) }}",
        "keyType": "hash",
        "expireIn": 2592000
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1520, 0],
      "id": "set-redis-qualified",
      "name": "Set Lead State (Redis)",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "leadId": "={{ $('Prep Redis State (Qualified)').first().json.leadId }}",
            "fullName": "={{ $('Prep Redis State (Qualified)').first().json.fullName }}",
            "email": "={{ $('Prep Redis State (Qualified)').first().json.email }}",
            "phone": "={{ $('Prep Redis State (Qualified)').first().json.phone }}",
            "province": "={{ $('Prep Redis State (Qualified)').first().json.province }}",
            "investableAssets": "={{ $('Prep Redis State (Qualified)').first().json.investableAssets }}",
            "annualIncome": "={{ $('Prep Redis State (Qualified)').first().json.annualIncome }}",
            "financialGoals": "={{ $('Prep Redis State (Qualified)').first().json.financialGoals }}",
            "investmentTimeline": "={{ $('Prep Redis State (Qualified)').first().json.investmentTimeline }}",
            "riskTolerance": "={{ $('Prep Redis State (Qualified)').first().json.riskTolerance }}",
            "currentAdvisorSituation": "={{ $('Prep Redis State (Qualified)').first().json.currentAdvisorSituation }}",
            "preferredDate": "={{ $('Prep Redis State (Qualified)').first().json.preferredDate }}",
            "preferredTime": "={{ $('Prep Redis State (Qualified)').first().json.preferredTime }}",
            "backupDate": "={{ $('Prep Redis State (Qualified)').first().json.backupDate }}",
            "backupTime": "={{ $('Prep Redis State (Qualified)').first().json.backupTime }}",
            "freeText": "={{ $('Prep Redis State (Qualified)').first().json.freeText }}",
            "status": "PENDING_ENRICHMENT",
            "submittedAt": "={{ $('Prep Redis State (Qualified)').first().json.submittedAt }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1760, 0],
      "id": "log-qualified-sheet",
      "name": "Log to Leads Sheet (Qualified)",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, leadId: $('Prep Redis State (Qualified)').first().json.leadId, status: 'PENDING_ENRICHMENT', message: 'Your submission has been received. We will be in touch within 1 business day.' }) }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, -100],
      "id": "respond-200-qualified",
      "name": "Return 200 (Qualified)"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "WF2_ENRICHMENT_WORKFLOW_ID", "mode": "id" },
        "options": { "waitForSubWorkflow": false }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2000, 100],
      "id": "trigger-enrichment",
      "name": "Trigger WF2 - Enrichment"
    },
    {
      "parameters": {
        "content": "## DISQUALIFIED PATH\n\n1. Log to Sheets (status: DISQUALIFIED)\n2. Cache in Redis (30-day TTL)\n3. Send rejection email\n4. Respond 200 to form (don't reveal disqualification)",
        "height": 180,
        "width": 360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1200, 280],
      "id": "sn-disqualified-path",
      "name": "Disqualified Path"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Disqualification Rules Engine').first().json;\nconst lead = data.leadData;\nconst goalsStr = Array.isArray(lead.financialGoals) ? lead.financialGoals.join(',') : lead.financialGoals;\n\nreturn [{\n  json: {\n    key: `leadstate_${lead.leadId}`,\n    status: 'DISQUALIFIED',\n    leadId: lead.leadId,\n    fullName: lead.fullName,\n    email: lead.email,\n    phone: lead.phone || '',\n    province: lead.province,\n    investableAssets: lead.investableAssets,\n    annualIncome: lead.annualIncome,\n    financialGoals: goalsStr,\n    investmentTimeline: lead.investmentTimeline,\n    riskTolerance: lead.riskTolerance,\n    currentAdvisorSituation: lead.currentAdvisorSituation,\n    preferredDate: lead.preferredDate || '',\n    preferredTime: lead.preferredTime || '',\n    backupDate: lead.backupDate || '',\n    backupTime: lead.backupTime || '',\n    freeText: lead.freeText || '',\n    submittedAt: lead.submittedAt,\n    disqualificationReasons: data.disqualificationReasons.join(','),\n    followUpCount: '0'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 340],
      "id": "prep-redis-disqualified",
      "name": "Prep Redis State (Disqualified)"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.key }}",
        "value": "={{ JSON.stringify($json) }}",
        "keyType": "hash",
        "expireIn": 2592000
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1520, 340],
      "id": "set-redis-disqualified",
      "name": "Set Lead State (Disqualified)",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "leadId": "={{ $json.leadId }}",
            "fullName": "={{ $json.fullName }}",
            "email": "={{ $json.email }}",
            "phone": "={{ $json.phone }}",
            "province": "={{ $json.province }}",
            "investableAssets": "={{ $json.investableAssets }}",
            "annualIncome": "={{ $json.annualIncome }}",
            "financialGoals": "={{ $json.financialGoals }}",
            "investmentTimeline": "={{ $json.investmentTimeline }}",
            "riskTolerance": "={{ $json.riskTolerance }}",
            "currentAdvisorSituation": "={{ $json.currentAdvisorSituation }}",
            "preferredDate": "={{ $json.preferredDate }}",
            "preferredTime": "={{ $json.preferredTime }}",
            "backupDate": "={{ $json.backupDate }}",
            "backupTime": "={{ $json.backupTime }}",
            "freeText": "={{ $json.freeText }}",
            "status": "DISQUALIFIED",
            "disqualificationReason": "={{ $json.disqualificationReasons }}",
            "submittedAt": "={{ $json.submittedAt }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1760, 340],
      "id": "log-disqualified-sheet",
      "name": "Log to Leads Sheet (Disqualified)",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "firm:email_templates"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [2000, 340],
      "id": "get-disqual-template",
      "name": "Get Email Templates",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "jsCode": "// Build rejection email from template\nconst lead = $('Prep Redis State (Disqualified)').first().json;\nlet templatesRaw = $('Get Email Templates').first().json;\nlet templates;\nif (typeof templatesRaw === 'string') templates = JSON.parse(templatesRaw);\nelse if (templatesRaw.data) templates = JSON.parse(templatesRaw.data);\nelse templates = templatesRaw;\n\nconst tpl = templates.disqualification || { subject: 'Thank you for your interest', body: 'Thank you for reaching out.' };\nconst firstName = lead.fullName.split(' ')[0];\n\nlet subject = tpl.subject.replace(/\\{\\{firm_name\\}\\}/g, 'NorthStar Wealth Advisory');\nlet body = tpl.body\n  .replace(/\\{\\{first_name\\}\\}/g, firstName)\n  .replace(/\\{\\{firm_name\\}\\}/g, 'NorthStar Wealth Advisory');\n\nreturn [{ json: { to: lead.email, subject, body, leadId: lead.leadId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 340],
      "id": "build-rejection-email",
      "name": "Build Rejection Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2480, 340],
      "id": "send-rejection-email",
      "name": "Send Rejection Email",
      "credentials": { "gmailOAuth2": { "id": "YOUR_GMAIL_CRED_ID", "name": "Gmail" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, leadId: $('Prep Redis State (Disqualified)').first().json.leadId, message: 'Your submission has been received. We will be in touch within 1 business day.' }) }}",
        "options": { "responseCode": 200 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2480, 500],
      "id": "respond-200-disqualified",
      "name": "Return 200 (Disqualified)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [1280, 600],
      "id": "wf1-error-trigger",
      "name": "Catch WF1 Errors"
    },
    {
      "parameters": {
        "sendTo": "admin@northstarwealth.ca",
        "subject": "⚠️ WF1 Intake Error — NorthStar Pipeline",
        "message": "=Intake workflow error at {{ $now.toISO() }}\n\nError: {{ $json.error?.message || JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1520, 600],
      "id": "wf1-error-email",
      "name": "Send WF1 Error Alert",
      "credentials": { "gmailOAuth2": { "id": "YOUR_GMAIL_CRED_ID", "name": "Gmail" } }
    }
  ],
  "connections": {
    "Intake Form Webhook": { "main": [[{ "node": "Validate Intake Form", "type": "main", "index": 0 }]] },
    "Validate Intake Form": { "main": [[{ "node": "Valid?", "type": "main", "index": 0 }]] },
    "Valid?": {
      "main": [
        [{ "node": "Generate Lead ID", "type": "main", "index": 0 }],
        [{ "node": "Return 400", "type": "main", "index": 0 }]
      ]
    },
    "Generate Lead ID": { "main": [[{ "node": "Get Firm Config", "type": "main", "index": 0 }]] },
    "Get Firm Config": { "main": [[{ "node": "Disqualification Rules Engine", "type": "main", "index": 0 }]] },
    "Disqualification Rules Engine": { "main": [[{ "node": "Disqualification Router", "type": "main", "index": 0 }]] },
    "Disqualification Router": {
      "main": [
        [{ "node": "Prep Redis State (Qualified)", "type": "main", "index": 0 }],
        [{ "node": "Prep Redis State (Disqualified)", "type": "main", "index": 0 }]
      ]
    },
    "Prep Redis State (Qualified)": { "main": [[{ "node": "Set Lead State (Redis)", "type": "main", "index": 0 }]] },
    "Set Lead State (Redis)": { "main": [[{ "node": "Log to Leads Sheet (Qualified)", "type": "main", "index": 0 }]] },
    "Log to Leads Sheet (Qualified)": { "main": [
      [{ "node": "Return 200 (Qualified)", "type": "main", "index": 0 }],
      [{ "node": "Trigger WF2 - Enrichment", "type": "main", "index": 0 }]
    ]},
    "Prep Redis State (Disqualified)": { "main": [[{ "node": "Set Lead State (Disqualified)", "type": "main", "index": 0 }]] },
    "Set Lead State (Disqualified)": { "main": [[{ "node": "Log to Leads Sheet (Disqualified)", "type": "main", "index": 0 }]] },
    "Log to Leads Sheet (Disqualified)": { "main": [[{ "node": "Get Email Templates", "type": "main", "index": 0 }]] },
    "Get Email Templates": { "main": [[{ "node": "Build Rejection Email", "type": "main", "index": 0 }]] },
    "Build Rejection Email": { "main": [
      [{ "node": "Send Rejection Email", "type": "main", "index": 0 }],
      [{ "node": "Return 200 (Disqualified)", "type": "main", "index": 0 }]
    ]},
    "Catch WF1 Errors": { "main": [[{ "node": "Send WF1 Error Alert", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "wf1-intake-v1",
  "meta": { "instanceId": "northstar-pipeline" },
  "id": "wf1-intake",
  "tags": [{ "name": "northstar" }, { "name": "intake" }]
}
