WF4 - Dashboard Action Endpoints.json
{
  "name": "WF4 - Dashboard Action Endpoints",
  "nodes": [
    {
      "parameters": {
        "content": "# WF4: DASHBOARD ACTION ENDPOINTS\n\n**6 endpoints. Dashboard reads Airtable directly for lead lists.**\n\n**ACTIONS:**\n1. POST /api/leads/approve → APPROVED → triggers WF5\n2. POST /api/leads/reject → REJECTED → triggers WF8\n3. POST /api/leads/override → PENDING_ENRICHMENT → triggers WF2\n4. POST /api/leads/request-info → AWAITING_INFO\n5. POST /api/leads/confirm-reject → REJECTED (skip 48h grace) → triggers WF8\n\n**DATA:**\n6. GET /api/leads/disqualified → All DISQUALIFIED leads with full form data, DQ reasons, grace period countdown\n\n**Override flow:** Admin overrides DQ lead → status=PENDING_ENRICHMENT → WF2 enriches → status=PENDING_REVIEW → appears in New Leads with full AI data",
        "height": 480,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -96
      ],
      "id": "sn-overview",
      "name": "WF4 Overview"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/leads/approve",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        304
      ],
      "id": "approve-webhook",
      "name": "POST /api/leads/approve",
      "webhookId": "approve-wh"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  leadId: body.leadId,\n  assignedAdvisorId: body.assignedAdvisorId || '',\n  assignedAdvisorName: body.assignedAdvisorName || '',\n  approvedAt: new Date().toISOString()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        304
      ],
      "id": "process-approval",
      "name": "Process Approval"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblEPuNDRprzezbK1",
          "mode": "id"
        },
        "filterByFormula": "={leadId}='{{ $json.leadId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        304
      ],
      "id": "find-approve",
      "name": "Find Lead (Approve)",
      "credentials": {
        "airtableTokenApi": {
          "id": "CP9rcRyd72mNUa9G",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const approval = $('Process Approval').first().json;\nconst record = $('Find Lead (Approve)').first().json;\nif (!record || !record.id) throw new Error('Lead not found: ' + approval.leadId);\n\n// Resolve advisor name from ID if not provided by frontend\nlet advisorName = approval.assignedAdvisorName || '';\nlet advisorId = approval.assignedAdvisorId || '';\n\n// If we have an ID but no name, try to get it from the lead's enrichment data\nif (advisorId && !advisorName) {\n  try {\n    const ranking = JSON.parse(record.advisorMatchRanking || '[]');\n    const match = ranking.find(a => a.advisorId === advisorId);\n    if (match) advisorName = match.advisorName;\n  } catch(e) {}\n}\n\n// Fallback: hardcoded advisor map (from Advisor Info table)\nif (advisorId && !advisorName) {\n  const advisorMap = {\n    'ADV001': 'Michael Torres',\n    'ADV002': 'Priya Sharma', \n    'ADV003': 'David Kim',\n    'ADV004': 'Rachel Nguyen'\n  };\n  advisorName = advisorMap[advisorId] || '';\n}\n\nreturn [{ json: {\n  id: record.id,\n  status: 'APPROVED',\n  assignedAdvisorId: advisorId,\n  assignedAdvisorName: advisorName,\n  approvedAt: approval.approvedAt\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        304
      ],
      "id": "prep-approve",
      "name": "Prep Approve Update"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblEPuNDRprzezbK1",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "={{ $json.status }}",
            "assignedAdvisorId": "={{ $json.assignedAdvisorId }}",
            "assignedAdvisorName": "={{ $json.assignedAdvisorName }}",
            "approvedAt": "={{ $json.approvedAt }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1072,
        304
      ],
      "id": "update-approve",
      "name": "Update Lead (Approve)",
      "credentials": {
        "airtableTokenApi": {
          "id": "CP9rcRyd72mNUa9G",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, leadId: $('Process Approval').first().json.leadId, status: 'APPROVED' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1312,
        304
      ],
      "id": "respond-approve",
      "name": "Return 200 (Approve)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/leads/reject",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        608
      ],
      "id": "reject-webhook",
      "name": "POST /api/leads/reject",
      "webhookId": "reject-wh"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  leadId: body.leadId,\n  rejectionReason: body.rejectionReason || 'other',\n  rejectedAt: new Date().toISOString()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        608
      ],
      "id": "parse-reject",
      "name": "Parse Reject"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblEPuNDRprzezbK1",
          "mode": "id"
        },
        "filterByFormula": "={leadId}='{{ $json.leadId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        608
      ],
      "id": "find-reject",
      "name": "Find Lead (Reject)",
      "credentials": {
        "airtableTokenApi": {
          "id": "CP9rcRyd72mNUa9G",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rej = $('Parse Reject').first().json;\nconst record = $('Find Lead (Reject)').first().json;\nif (!record || !record.id) throw new Error('Lead not found: ' + rej.leadId);\nreturn [{ json: {\n  id: record.id,\n  status: 'REJECTED',\n  rejectionReason: rej.rejectionReason,\n  rejectedAt: rej.rejectedAt\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        608
      ],
      "id": "prep-reject",
      "name": "Prep Reject Update"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblEPuNDRprzezbK1",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "={{ $json.status }}",
            "rejectionReason": "={{ $json.rejectionReason }}",
            "rejectedAt": "={{ $json.rejectedAt }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1072,
        608
      ],
      "id": "update-reject",
      "name": "Update Lead (Reject)",
      "credentials": {
        "airtableTokenApi": {
          "id": "CP9rcRyd72mNUa9G",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, leadId: $('Parse Reject').first().json.leadId, status: 'REJECTED' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1312,
        608
      ],
      "id": "respond-reject",
      "name": "Return 200 (Reject)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/leads/override",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        912
      ],
      "id": "override-webhook",
      "name": "POST /api/leads/override",
      "webhookId": "override-wh"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  leadId: body.leadId,\n  overrideReason: body.overrideReason || ''\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        912
      ],
      "id": "parse-override",
      "name": "Parse Override"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblEPuNDRprzezbK1",
          "mode": "id"
        },
        "filterByFormula": "={leadId}='{{ $json.leadId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        912
      ],
      "id": "find-override",
      "name": "Find Lead (Override)",
      "credentials": {
        "airtableTokenApi": {
          "id": "CP9rcRyd72mNUa9G",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ovr = $('Parse Override').first().json;\nconst record = $('Find Lead (Override)').first().json;\nif (!record || !record.id) throw new Error('Lead not found: ' + ovr.leadId);\nreturn [{ json: {\n  id: record.id,\n  status: 'PENDING_ENRICHMENT',\n  overrideReason: ovr.overrideReason,\n  disqualificationReason: ''\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        912
      ],
      "id": "prep-override",
      "name": "Prep Override Update"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblEPuNDRprzezbK1",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "={{ $json.status }}",
            "overrideReason": "={{ $json.overrideReason }}",
            "disqualificationReason": ""
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1072,
        912
      ],
      "id": "update-override",
      "name": "Update Lead (Override)",
      "credentials": {
        "airtableTokenApi": {
          "id": "CP9rcRyd72mNUa9G",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, leadId: $('Parse Override').first().json.leadId, status: 'PENDING_ENRICHMENT' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1312,
        912
      ],
      "id": "respond-override",
      "name": "Return 200 (Override)"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/leads/request-info",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        1200
      ],
      "id": "info-webhook",
      "name": "POST /api/leads/request-info",
      "webhookId": "info-wh"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  leadId: body.leadId,\n  followUpQuestion: body.followUpQuestion || ''\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        1200
      ],
      "id": "parse-info",
      "name": "Parse Info Request"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblEPuNDRprzezbK1",
          "mode": "id"
        },
        "filterByFormula": "={leadId}='{{ $json.leadId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        1200
      ],
      "id": "find-info",
      "name": "Find Lead (Info)",
      "credentials": {
        "airtableTokenApi": {
          "id": "CP9rcRyd72mNUa9G",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const info = $('Parse Info Request').first().json;\nconst record = $('Find Lead (Info)').first().json;\nif (!record || !record.id) throw new Error('Lead not found: ' + info.leadId);\nreturn [{ json: {\n  id: record.id,\n  status: 'AWAITING_INFO'\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1200
      ],
      "id": "prep-info",
      "name": "Prep Info Update"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblEPuNDRprzezbK1",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1072,
        1200
      ],
      "id": "update-info",
      "name": "Update Lead (Info)",
      "credentials": {
        "airtableTokenApi": {
          "id": "CP9rcRyd72mNUa9G",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, leadId: $('Parse Info Request').first().json.leadId, status: 'AWAITING_INFO' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1312,
        1200
      ],
      "id": "respond-info",
      "name": "Return 200 (Info)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gWXc9hPm86WTrwK0",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "leadId": "={{ $('Process Approval').first().json.leadId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "leadId",
              "displayName": "leadId",
              "type": "string"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "trigger-wf5",
      "name": "Trigger WF5 - Outreach",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1312,
        192
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "F4ZRJbdHVKvYnh5v",
          "mode": "list",
          "cachedResultUrl": "/workflow/F4ZRJbdHVKvYnh5v",
          "cachedResultName": "WF8 - Rejection Email Generation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "leadId": "={{ $('Parse Reject').first().json.leadId }}",
            "rejectionReason": "={{ $('Parse Reject').first().json.rejectionReason || 'not_a_fit' }}",
            "customNote": "={{ $('Parse Reject').first().json.customNote || 'Rejected by admin via dashboard' }}"
          },
          "matchingColumns": [
            "leadId"
          ],
          "schema": [
            {
              "id": "leadId",
              "displayName": "leadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "rejectionReason",
              "displayName": "rejectionReason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "customNote",
              "displayName": "customNote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "trigger-wf8",
      "name": "Trigger WF8 - Rejection Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1312,
        720
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HfZqG2gp6J25webY",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "leadId": "={{ $('Parse Override').first().json.leadId }}"
          },
          "matchingColumns": [
            "leadId"
          ],
          "schema": [
            {
              "id": "leadId",
              "displayName": "leadId",
              "type": "string"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "trigger-wf2-override",
      "name": "Trigger WF2 - Enrich Override",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1312,
        1024
      ]
    },
    {
      "parameters": {
        "path": "api/leads/disqualified",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "get-dq-webhook",
      "name": "GET /api/leads/disqualified",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        1504
      ],
      "webhookId": "636b33b6-c85a-4f1d-be6d-7b66995f7874"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblEPuNDRprzezbK1",
          "mode": "id"
        },
        "filterByFormula": "{status}='DISQUALIFIED'",
        "options": {}
      },
      "id": "fetch-dq-leads",
      "name": "Fetch DQ Leads",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        352,
        1504
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "CP9rcRyd72mNUa9G",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all().map(i => i.json);\nconst now = new Date();\n\nconst formatted = leads.map(lead => {\n  const submitted = new Date(lead.submittedAt);\n  const hoursElapsed = (now - submitted) / (1000 * 60 * 60);\n  const graceHoursRemaining = Math.max(0, 48 - hoursElapsed);\n  const gracePeriodExpired = hoursElapsed >= 48;\n\n  // Parse disqualification reasons into human-readable labels\n  const reasonMap = {\n    'jurisdiction_not_served': 'Jurisdiction not served',\n    'below_asset_threshold': 'Below asset threshold',\n    'goal_mismatch': 'Service goals not offered'\n  };\n  const rawReasons = (lead.disqualificationReason || '').split(',').filter(Boolean);\n  const readableReasons = rawReasons.map(r => reasonMap[r.trim()] || r.trim());\n\n  // Asset range display\n  const assetDisplay = {\n    'under_25k': 'Under $25K',\n    '25k_100k': '$25K - $100K',\n    '100k_250k': '$100K - $250K',\n    '250k_500k': '$250K - $500K',\n    '500k_1m': '$500K - $1M',\n    '1m_plus': '$1M+'\n  };\n\n  const incomeDisplay = {\n    'under_50k': 'Under $50K',\n    '50k_100k': '$50K - $100K',\n    '100k_200k': '$100K - $200K',\n    '200k_plus': '$200K+'\n  };\n\n  return {\n    id: lead.id,\n    leadId: lead.leadId,\n    fullName: lead.fullName,\n    email: lead.email,\n    phone: lead.phone || '',\n    province: lead.province,\n    investableAssets: lead.investableAssets,\n    investableAssetsDisplay: assetDisplay[lead.investableAssets] || lead.investableAssets,\n    annualIncome: lead.annualIncome,\n    annualIncomeDisplay: incomeDisplay[lead.annualIncome] || lead.annualIncome,\n    financialGoals: lead.financialGoals,\n    investmentTimeline: lead.investmentTimeline,\n    riskTolerance: lead.riskTolerance,\n    currentAdvisorSituation: lead.currentAdvisorSituation,\n    preferredDate: lead.preferredDate,\n    preferredTime: lead.preferredTime,\n    backupDate: lead.backupDate || '',\n    backupTime: lead.backupTime || '',\n    freeText: lead.freeText || '',\n    submittedAt: lead.submittedAt,\n    disqualificationReasons: rawReasons,\n    disqualificationReasonsDisplay: readableReasons,\n    graceHoursRemaining: Math.round(graceHoursRemaining * 10) / 10,\n    gracePeriodExpired,\n    rejectionEmailSentAt: lead.rejectionEmailSentAt || null,\n    status: lead.status\n  };\n});\n\n// Sort: grace period active first (most urgent), then by submission time\nformatted.sort((a, b) => {\n  if (a.gracePeriodExpired !== b.gracePeriodExpired) return a.gracePeriodExpired ? 1 : -1;\n  return a.graceHoursRemaining - b.graceHoursRemaining;\n});\n\nreturn [{ json: { leads: formatted, count: formatted.length } }];"
      },
      "id": "format-dq-response",
      "name": "Format DQ Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        1504
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-dq",
      "name": "Return DQ Leads",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        832,
        1504
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/leads/confirm-reject",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "confirm-reject-webhook",
      "name": "POST /api/leads/confirm-reject",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        1808
      ],
      "webhookId": "d8fa08ff-bff4-4dbb-bc5c-11795a630f4c"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: {\n  leadId: body.leadId,\n  rejectionReason: body.rejectionReason || 'not_a_fit',\n  customNote: body.customNote || 'Admin confirmed rejection from auto-rejected view',\n  confirmedAt: new Date().toISOString()\n}}];"
      },
      "id": "parse-confirm-reject",
      "name": "Parse Confirm Reject",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        1808
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblEPuNDRprzezbK1",
          "mode": "id"
        },
        "filterByFormula": "={leadId}='{{ $json.leadId }}'",
        "options": {}
      },
      "id": "find-confirm-reject",
      "name": "Find Lead (Confirm Reject)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        592,
        1808
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "CP9rcRyd72mNUa9G",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblEPuNDRprzezbK1",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Find Lead (Confirm Reject)').first().json.id }}",
            "status": "REJECTED",
            "rejectionReason": "={{ $('Parse Confirm Reject').first().json.rejectionReason }}",
            "rejectedAt": "={{ $('Parse Confirm Reject').first().json.confirmedAt }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "update-confirm-reject",
      "name": "Update Lead (Confirm Reject)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        832,
        1808
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "CP9rcRyd72mNUa9G",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "F4ZRJbdHVKvYnh5v",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "leadId": "={{ $('Parse Confirm Reject').first().json.leadId }}",
            "rejectionReason": "={{ $('Parse Confirm Reject').first().json.rejectionReason }}",
            "customNote": "={{ $('Parse Confirm Reject').first().json.customNote }}"
          },
          "matchingColumns": [
            "leadId"
          ],
          "schema": [
            {
              "id": "leadId",
              "displayName": "leadId",
              "type": "string"
            },
            {
              "id": "rejectionReason",
              "displayName": "rejectionReason",
              "type": "string"
            },
            {
              "id": "customNote",
              "displayName": "customNote",
              "type": "string"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "trigger-wf8-confirm",
      "name": "Trigger WF8 - Confirmed Rejection",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1072,
        1920
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, leadId: $('Parse Confirm Reject').first().json.leadId, status: 'REJECTED', message: 'Rejection confirmed, email will be sent.' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-confirm-reject",
      "name": "Return 200 (Confirm Reject)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1072,
        1744
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "POST /api/leads/approve": {
      "main": [
        [
          {
            "node": "Process Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Approval": {
      "main": [
        [
          {
            "node": "Find Lead (Approve)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead (Approve)": {
      "main": [
        [
          {
            "node": "Prep Approve Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Approve Update": {
      "main": [
        [
          {
            "node": "Update Lead (Approve)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead (Approve)": {
      "main": [
        [
          {
            "node": "Return 200 (Approve)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger WF5 - Outreach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/leads/reject": {
      "main": [
        [
          {
            "node": "Parse Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reject": {
      "main": [
        [
          {
            "node": "Find Lead (Reject)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead (Reject)": {
      "main": [
        [
          {
            "node": "Prep Reject Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Reject Update": {
      "main": [
        [
          {
            "node": "Update Lead (Reject)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead (Reject)": {
      "main": [
        [
          {
            "node": "Return 200 (Reject)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger WF8 - Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/leads/override": {
      "main": [
        [
          {
            "node": "Parse Override",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Override": {
      "main": [
        [
          {
            "node": "Find Lead (Override)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead (Override)": {
      "main": [
        [
          {
            "node": "Prep Override Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Override Update": {
      "main": [
        [
          {
            "node": "Update Lead (Override)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead (Override)": {
      "main": [
        [
          {
            "node": "Return 200 (Override)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger WF2 - Enrich Override",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/leads/request-info": {
      "main": [
        [
          {
            "node": "Parse Info Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Info Request": {
      "main": [
        [
          {
            "node": "Find Lead (Info)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead (Info)": {
      "main": [
        [
          {
            "node": "Prep Info Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Info Update": {
      "main": [
        [
          {
            "node": "Update Lead (Info)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead (Info)": {
      "main": [
        [
          {
            "node": "Return 200 (Info)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /api/leads/disqualified": {
      "main": [
        [
          {
            "node": "Fetch DQ Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch DQ Leads": {
      "main": [
        [
          {
            "node": "Format DQ Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format DQ Response": {
      "main": [
        [
          {
            "node": "Return DQ Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/leads/confirm-reject": {
      "main": [
        [
          {
            "node": "Parse Confirm Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Confirm Reject": {
      "main": [
        [
          {
            "node": "Find Lead (Confirm Reject)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead (Confirm Reject)": {
      "main": [
        [
          {
            "node": "Update Lead (Confirm Reject)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead (Confirm Reject)": {
      "main": [
        [
          {
            "node": "Return 200 (Confirm Reject)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger WF8 - Confirmed Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40e6ff4f-ffe4-4c91-9210-9d722bc0a998",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "168c7d7211133de6d8ec393ae7a3e3a882a0d6cfc6397ea1db2fe66f28042b4e"
  },
  "id": "MkzvczPKsuNrKsIe",
  "tags": [
    {
      "createdAt": "2026-02-24T16:03:56.865Z",
      "updatedAt": "2026-02-24T16:03:56.865Z",
      "id": "JftEfkiGmHhZofR4",
      "name": "northstar"
    },
    {
      "createdAt": "2026-02-24T16:05:09.732Z",
      "updatedAt": "2026-02-24T16:05:09.732Z",
      "id": "Kusn0e6WPJoSHRPV",
      "name": "api"
    },
    {
      "createdAt": "2026-02-24T16:05:09.746Z",
      "updatedAt": "2026-02-24T16:05:09.746Z",
      "id": "cWcjBVRiNynJ3mC7",
      "name": "dashboard"
    },
    {
      "createdAt": "2026-02-24T16:03:56.884Z",
      "updatedAt": "2026-02-24T16:03:56.884Z",
      "id": "eCDeIyZWB5Yghn4f",
      "name": "airtable"
    }
  ]
}