WF4_Dashboard_API.json
{
  "name": "WF4 - Dashboard API Endpoints",
  "nodes": [
    {
      "parameters": {
        "content": "# WF4: DASHBOARD API ENDPOINTS\n\n**Endpoints:**\n1. GET /api/leads?tab=pending|auto_rejected|active\n2. POST /api/leads/approve\n3. POST /api/leads/reject\n4. POST /api/leads/override\n5. POST /api/leads/request-info\n6. GET /api/metrics\n\n**All CORS-enabled for React dashboard.**\n**State in Redis + Sheets. Stateless API.**",
        "height": 380,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-800, -300],
      "id": "sn-wf4-overview",
      "name": "WF4 Overview"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "api/leads",
        "responseMode": "responseNode",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }, { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }] } }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 0],
      "id": "get-leads-webhook",
      "name": "GET /api/leads"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "list" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-160, 0],
      "id": "fetch-all-leads",
      "name": "Fetch All Leads",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "jsCode": "const query = $('GET /api/leads').first().json.query || {};\nconst tab = query.tab || 'pending';\nconst allLeads = $('Fetch All Leads').all().map(i => i.json).filter(l => l.leadId);\n\nconst statusMap = {\n  'pending': ['PENDING_REVIEW'],\n  'auto_rejected': ['DISQUALIFIED'],\n  'active': ['APPROVED', 'OUTREACH_IN_PROGRESS', 'BOOKED', 'UNRESPONSIVE', 'COMPLETED', 'REJECTED', 'CANCELLED_BY_LEAD']\n};\n\nconst validStatuses = statusMap[tab] || statusMap['pending'];\nlet filtered = allLeads.filter(l => validStatuses.includes(l.status));\n\nconst priorityOrder = { 'HIGH': 0, 'MEDIUM': 1, 'LOW': 2 };\nif (tab === 'pending') {\n  filtered.sort((a, b) => {\n    const pa = priorityOrder[a.priorityScore] ?? 3;\n    const pb = priorityOrder[b.priorityScore] ?? 3;\n    if (pa !== pb) return pa - pb;\n    return new Date(a.submittedAt || 0) - new Date(b.submittedAt || 0);\n  });\n}\n\nconst results = filtered.map(l => {\n  const parsed = { ...l };\n  try { parsed.recommendedServiceTier = JSON.parse(l.recommendedServiceTier || '{}'); } catch(e) {}\n  try { parsed.advisorMatchRanking = JSON.parse(l.advisorMatchRanking || '[]'); } catch(e) {}\n  try { parsed.riskFlags = JSON.parse(l.riskFlags || '[]'); } catch(e) {}\n  try { parsed.conversationStarters = JSON.parse(l.conversationStarters || '[]'); } catch(e) {}\n  return parsed;\n});\n\nreturn [{ json: { leads: results, count: results.length, tab } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 0],
      "id": "filter-leads",
      "name": "Filter & Format Leads"
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": { "responseCode": 200 } },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [320, 0],
      "id": "respond-leads",
      "name": "Return Leads"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/leads/approve",
        "responseMode": "responseNode",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }, { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }] } }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 300],
      "id": "approve-webhook",
      "name": "POST /api/leads/approve"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=leadstate_{{ ($input.first().json.body || $input.first().json).leadId }}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-160, 300],
      "id": "get-lead-approve",
      "name": "Get Lead (Approve)",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "jsCode": "const body = $('POST /api/leads/approve').first().json.body || $('POST /api/leads/approve').first().json;\nconst lead = $('Get Lead (Approve)').first().json;\n\nlet advisorId = body.assignedAdvisorId;\nlet advisorName = body.assignedAdvisorName || '';\nif (!advisorId && lead.advisorMatchRanking) {\n  try {\n    const ranking = JSON.parse(lead.advisorMatchRanking);\n    if (ranking.length > 0) { advisorId = ranking[0].advisorId; advisorName = ranking[0].advisorName; }\n  } catch(e) {}\n}\n\nlet suggestedBooking = null;\ntry { suggestedBooking = JSON.parse(lead.suggestedBooking || 'null'); } catch(e) {}\n\nreturn [{ json: {\n  leadId: body.leadId,\n  status: 'APPROVED',\n  assignedAdvisorId: advisorId || 'ADV001',\n  assignedAdvisorName: advisorName,\n  approvedAt: new Date().toISOString(),\n  availabilityStatus: lead.availabilityStatus || 'SCHEDULING_REQUIRED',\n  suggestedBooking,\n  email: lead.email, fullName: lead.fullName\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 300],
      "id": "process-approve",
      "name": "Process Approval"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=leadstate_{{ $json.leadId }}",
        "value": "={{ JSON.stringify({ status: 'APPROVED', assignedAdvisorId: $json.assignedAdvisorId, assignedAdvisorName: $json.assignedAdvisorName, approvedAt: $json.approvedAt }) }}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [320, 300],
      "id": "set-approved",
      "name": "Set APPROVED",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "list" },
        "filtersUI": { "values": [{ "lookupColumn": "leadId", "lookupValue": "={{ $('Process Approval').first().json.leadId }}" }] },
        "columns": { "mappingMode": "defineBelow", "value": { "status": "APPROVED", "assignedAdvisorId": "={{ $('Process Approval').first().json.assignedAdvisorId }}", "assignedAdvisorName": "={{ $('Process Approval').first().json.assignedAdvisorName }}", "approvedAt": "={{ $('Process Approval').first().json.approvedAt }}" } },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [560, 300],
      "id": "update-sheets-approve",
      "name": "Update Sheets (Approved)",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ success: true, leadId: $('Process Approval').first().json.leadId, status: 'APPROVED', assignedAdvisor: $('Process Approval').first().json.assignedAdvisorName }) }}", "options": { "responseCode": 200 } },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 220],
      "id": "respond-approve",
      "name": "Return 200 (Approve)"
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "WF5_OUTREACH_WORKFLOW_ID", "mode": "id" }, "options": { "waitForSubWorkflow": false } },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [800, 380],
      "id": "trigger-outreach",
      "name": "Trigger WF5 - Outreach"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/leads/reject",
        "responseMode": "responseNode",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }, { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }] } }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 600],
      "id": "reject-webhook",
      "name": "POST /api/leads/reject"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { leadId: body.leadId, rejectionReason: body.rejectionReason || 'other', customNote: body.customNote || '', rejectedAt: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 600],
      "id": "parse-reject",
      "name": "Parse Reject"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=leadstate_{{ $json.leadId }}",
        "value": "={{ JSON.stringify({ status: 'REJECTED', rejectionReason: $json.rejectionReason, rejectedAt: $json.rejectedAt }) }}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [80, 600],
      "id": "set-rejected",
      "name": "Set REJECTED",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "list" },
        "filtersUI": { "values": [{ "lookupColumn": "leadId", "lookupValue": "={{ $json.leadId }}" }] },
        "columns": { "mappingMode": "defineBelow", "value": { "status": "REJECTED", "rejectionReason": "={{ $json.rejectionReason }}", "rejectedAt": "={{ $json.rejectedAt }}" } },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [320, 600],
      "id": "update-sheets-reject",
      "name": "Update Sheets (Rejected)",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ success: true, leadId: $('Parse Reject').first().json.leadId, status: 'REJECTED' }) }}", "options": { "responseCode": 200 } },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 520],
      "id": "respond-reject",
      "name": "Return 200 (Reject)"
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "WF8_REJECTION_EMAIL_WORKFLOW_ID", "mode": "id" }, "options": { "waitForSubWorkflow": false } },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [560, 680],
      "id": "trigger-rejection-email",
      "name": "Trigger WF8 - Rejection Email"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/leads/override",
        "responseMode": "responseNode",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }, { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }] } }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 900],
      "id": "override-webhook",
      "name": "POST /api/leads/override"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{ json: { leadId: body.leadId, overrideReason: body.overrideReason || 'Admin override', overriddenAt: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 900],
      "id": "parse-override",
      "name": "Parse Override"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=leadstate_{{ $json.leadId }}",
        "value": "={{ JSON.stringify({ status: 'PENDING_ENRICHMENT', overrideReason: $json.overrideReason, overriddenAt: $json.overriddenAt }) }}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [80, 900],
      "id": "set-override",
      "name": "Set PENDING_ENRICHMENT",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "list" },
        "filtersUI": { "values": [{ "lookupColumn": "leadId", "lookupValue": "={{ $json.leadId }}" }] },
        "columns": { "mappingMode": "defineBelow", "value": { "status": "PENDING_ENRICHMENT", "disqualificationReason": "", "overrideReason": "={{ $json.overrideReason }}" } },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [320, 900],
      "id": "update-sheets-override",
      "name": "Update Sheets (Override)",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ success: true, leadId: $('Parse Override').first().json.leadId, status: 'PENDING_ENRICHMENT' }) }}", "options": { "responseCode": 200 } },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [560, 820],
      "id": "respond-override",
      "name": "Return 200 (Override)"
    },
    {
      "parameters": { "workflowId": { "__rl": true, "value": "WF2_ENRICHMENT_WORKFLOW_ID", "mode": "id" }, "options": { "waitForSubWorkflow": false } },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [560, 980],
      "id": "trigger-re-enrich",
      "name": "Trigger WF2 - Re-Enrich"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/leads/request-info",
        "responseMode": "responseNode",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }, { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }] } }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 1200],
      "id": "request-info-webhook",
      "name": "POST /api/leads/request-info"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=leadstate_{{ ($input.first().json.body || $input.first().json).leadId }}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-160, 1200],
      "id": "get-lead-info",
      "name": "Get Lead (Info Request)",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "jsCode": "const body = $('POST /api/leads/request-info').first().json.body || $('POST /api/leads/request-info').first().json;\nconst lead = $('Get Lead (Info Request)').first().json;\nconst firstName = (lead.fullName || '').split(' ')[0];\nreturn [{ json: { leadId: body.leadId, email: lead.email, firstName, question: body.followUpQuestion || body.question } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 1200],
      "id": "prep-info-email",
      "name": "Prep Info Request Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "A quick question about your consultation request — NorthStar Wealth Advisory",
        "message": "=Hi {{ $json.firstName }},\n\nThank you for your interest in NorthStar Wealth Advisory. Before we proceed with scheduling your consultation, we had a quick follow-up question:\n\n{{ $json.question }}\n\nPlease reply to this email at your convenience.\n\nBest regards,\nNorthStar Wealth Advisory",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [320, 1200],
      "id": "send-info-email",
      "name": "Send Info Request Email",
      "credentials": { "gmailOAuth2": { "id": "YOUR_GMAIL_CRED_ID", "name": "Gmail" } }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=leadstate_{{ $('Prep Info Request Email').first().json.leadId }}",
        "value": "={{ JSON.stringify({ status: 'AWAITING_INFO' }) }}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [560, 1200],
      "id": "set-awaiting-info",
      "name": "Set AWAITING_INFO",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ success: true, leadId: $('Prep Info Request Email').first().json.leadId, status: 'AWAITING_INFO' }) }}", "options": { "responseCode": 200 } },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [800, 1200],
      "id": "respond-info",
      "name": "Return 200 (Info Request)"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "api/metrics",
        "responseMode": "responseNode",
        "options": { "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }, { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }] } }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 1500],
      "id": "metrics-webhook",
      "name": "GET /api/metrics"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "list" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-160, 1500],
      "id": "fetch-leads-metrics",
      "name": "Fetch Leads (Metrics)",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "jsCode": "const leads = $('Fetch Leads (Metrics)').all().map(i => i.json).filter(l => l.leadId);\nconst now = new Date();\nconst weekAgo = new Date(now - 7*24*60*60*1000);\nconst monthAgo = new Date(now - 30*24*60*60*1000);\n\nconst thisWeek = leads.filter(l => new Date(l.submittedAt) >= weekAgo);\nconst thisMonth = leads.filter(l => new Date(l.submittedAt) >= monthAgo);\nconst booked = leads.filter(l => ['BOOKED','COMPLETED'].includes(l.status));\nconst pending = leads.filter(l => l.status === 'PENDING_REVIEW');\n\nlet avgHours = 0;\nconst withTimes = booked.filter(l => l.submittedAt && l.bookedAt);\nif (withTimes.length > 0) {\n  avgHours = Math.round(withTimes.reduce((s, l) => s + (new Date(l.bookedAt) - new Date(l.submittedAt)), 0) / withTimes.length / 3600000);\n}\n\nreturn [{ json: { leadsThisWeek: thisWeek.length, leadsThisMonth: thisMonth.length, totalLeads: leads.length, pendingReview: pending.length, bookedConsultations: booked.length, conversionRate: leads.length ? Math.round(booked.length/leads.length*100) : 0, avgHoursToBook: avgHours } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 1500],
      "id": "calc-metrics",
      "name": "Calculate Metrics"
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": { "responseCode": 200 } },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [320, 1500],
      "id": "respond-metrics",
      "name": "Return Metrics"
    }
  ],
  "connections": {
    "GET /api/leads": { "main": [[{ "node": "Fetch All Leads", "type": "main", "index": 0 }]] },
    "Fetch All Leads": { "main": [[{ "node": "Filter & Format Leads", "type": "main", "index": 0 }]] },
    "Filter & Format Leads": { "main": [[{ "node": "Return Leads", "type": "main", "index": 0 }]] },
    "POST /api/leads/approve": { "main": [[{ "node": "Get Lead (Approve)", "type": "main", "index": 0 }]] },
    "Get Lead (Approve)": { "main": [[{ "node": "Process Approval", "type": "main", "index": 0 }]] },
    "Process Approval": { "main": [[{ "node": "Set APPROVED", "type": "main", "index": 0 }]] },
    "Set APPROVED": { "main": [[{ "node": "Update Sheets (Approved)", "type": "main", "index": 0 }]] },
    "Update Sheets (Approved)": { "main": [[{ "node": "Return 200 (Approve)", "type": "main", "index": 0 }, { "node": "Trigger WF5 - Outreach", "type": "main", "index": 0 }]] },
    "POST /api/leads/reject": { "main": [[{ "node": "Parse Reject", "type": "main", "index": 0 }]] },
    "Parse Reject": { "main": [[{ "node": "Set REJECTED", "type": "main", "index": 0 }]] },
    "Set REJECTED": { "main": [[{ "node": "Update Sheets (Rejected)", "type": "main", "index": 0 }]] },
    "Update Sheets (Rejected)": { "main": [[{ "node": "Return 200 (Reject)", "type": "main", "index": 0 }, { "node": "Trigger WF8 - Rejection Email", "type": "main", "index": 0 }]] },
    "POST /api/leads/override": { "main": [[{ "node": "Parse Override", "type": "main", "index": 0 }]] },
    "Parse Override": { "main": [[{ "node": "Set PENDING_ENRICHMENT", "type": "main", "index": 0 }]] },
    "Set PENDING_ENRICHMENT": { "main": [[{ "node": "Update Sheets (Override)", "type": "main", "index": 0 }]] },
    "Update Sheets (Override)": { "main": [[{ "node": "Return 200 (Override)", "type": "main", "index": 0 }, { "node": "Trigger WF2 - Re-Enrich", "type": "main", "index": 0 }]] },
    "POST /api/leads/request-info": { "main": [[{ "node": "Get Lead (Info Request)", "type": "main", "index": 0 }]] },
    "Get Lead (Info Request)": { "main": [[{ "node": "Prep Info Request Email", "type": "main", "index": 0 }]] },
    "Prep Info Request Email": { "main": [[{ "node": "Send Info Request Email", "type": "main", "index": 0 }]] },
    "Send Info Request Email": { "main": [[{ "node": "Set AWAITING_INFO", "type": "main", "index": 0 }]] },
    "Set AWAITING_INFO": { "main": [[{ "node": "Return 200 (Info Request)", "type": "main", "index": 0 }]] },
    "GET /api/metrics": { "main": [[{ "node": "Fetch Leads (Metrics)", "type": "main", "index": 0 }]] },
    "Fetch Leads (Metrics)": { "main": [[{ "node": "Calculate Metrics", "type": "main", "index": 0 }]] },
    "Calculate Metrics": { "main": [[{ "node": "Return Metrics", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "wf4-api-v1",
  "meta": { "instanceId": "northstar-pipeline" },
  "id": "wf4-dashboard-api",
  "tags": [{ "name": "northstar" }, { "name": "api" }, { "name": "dashboard" }]
}
