WF6_Inbound_Email_Processing.json
{
  "name": "WF6 - Inbound Email Processing",
  "nodes": [
    {
      "parameters": {
        "content": "# WF6: INBOUND EMAIL PROCESSING\n\n**Trigger:** Gmail trigger — new email reply from lead\n\n**Flow:**\n1. Match sender email to lead in Sheets\n2. Verify lead is in OUTREACH_IN_PROGRESS status\n3. AI Email Reply Parser classifies intent:\n   - selected → book the chosen slot\n   - suggest_alternative → check that time\n   - cancel → mark cancelled\n   - question → answer and re-prompt\n   - unclear → ask for clarification\n4. Execute appropriate action\n\n**Adapts WhatsApp Alternative Selection Agent for email.**",
        "height": 400,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-600, -200],
      "id": "sn-wf6-overview",
      "name": "WF6 Overview"
    },
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "filters": { "readStatus": "unread" },
        "options": { "maxResults": 10 }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-400, 200],
      "id": "gmail-trigger",
      "name": "Gmail Trigger - New Replies",
      "credentials": { "gmailOAuth2": { "id": "YOUR_GMAIL_CRED_ID", "name": "Gmail" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "list" },
        "filtersUI": { "values": [{ "lookupColumn": "email", "lookupValue": "={{ $json.from?.value?.[0]?.address || $json.from || '' }}" }] },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-160, 200],
      "id": "match-lead",
      "name": "Match Email to Lead",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "has-lead", "leftValue": "={{ $json.leadId }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [80, 200],
      "id": "lead-found",
      "name": "Lead Found?"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "status-check", "leftValue": "={{ $json.status }}", "rightValue": "OUTREACH_IN_PROGRESS", "operator": { "type": "string", "operation": "equals" } }],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [320, 200],
      "id": "status-check",
      "name": "In Outreach?"
    },
    {
      "parameters": {
        "jsCode": "// Prepare context for AI parser\nconst lead = $('Match Email to Lead').first().json;\nconst emailBody = $('Gmail Trigger - New Replies').first().json.text || $('Gmail Trigger - New Replies').first().json.snippet || '';\n\nlet pendingSlots = [];\ntry { pendingSlots = JSON.parse(lead.pendingSlots || '[]'); } catch(e) {}\n\nreturn [{ json: {\n  leadId: lead.leadId,\n  email: lead.email,\n  fullName: lead.fullName,\n  assignedAdvisorId: lead.assignedAdvisorId,\n  assignedAdvisorName: lead.assignedAdvisorName,\n  emailBody,\n  pendingSlots\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 200],
      "id": "prep-parser",
      "name": "Prep Parser Context"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You classify email replies from prospective clients who were offered consultation time slots.\n\n## CONTEXT\n- Client was sent an email with numbered available time slots\n- pendingSlots: JSON array of offered datetimes\n- Client's reply needs classification\n\n## OUTPUT FORMAT\n{\"action\": \"selected\" | \"suggest_alternative\" | \"cancel\" | \"question\" | \"unclear\", \"selectedSlotIndex\": number | null, \"suggestedDatetime\": \"YYYY-MM-DD HH:MM\" | null, \"extractedQuestion\": \"string\" | null}\n\n## RULES\n- selected: Client chose offered slot (\"Option 1\", \"the Wednesday one\", \"2pm works\"). Set selectedSlotIndex (0-based).\n- suggest_alternative: Client proposes different time (\"How about Thursday at 10am?\")\n- cancel: Client says never mind, not interested, cancel\n- question: Client asks a question before scheduling\n- unclear: Can't determine intent\n- Cancel keywords always win. \"Yes\" alone with 1 slot → selected index 0\n- Output ONLY valid JSON"
        },
        "text": "=Client's email reply:\n{{ $json.emailBody }}\n\nPending slots offered:\n{{ JSON.stringify($json.pendingSlots) }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [800, 200],
      "id": "reply-parser",
      "name": "Email Reply Parser"
    },
    {
      "parameters": { "modelName": "models/gemini-2.5-flash", "options": { "temperature": 0.1 } },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [800, 420],
      "id": "gemini-parser",
      "name": "Gemini (Parser)",
      "credentials": { "googleGeminiApi": { "id": "YOUR_GEMINI_CRED_ID", "name": "Google Gemini" } }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{ \"type\": \"object\", \"properties\": { \"action\": { \"type\": \"string\", \"enum\": [\"selected\", \"suggest_alternative\", \"cancel\", \"question\", \"unclear\"] }, \"selectedSlotIndex\": { \"type\": [\"integer\", \"null\"] }, \"suggestedDatetime\": { \"type\": [\"string\", \"null\"] }, \"extractedQuestion\": { \"type\": [\"string\", \"null\"] } }, \"required\": [\"action\"] }"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [940, 420],
      "id": "reply-parser-schema",
      "name": "Reply Parser Schema"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "outputIndex": 0, "conditions": { "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "selected", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputIndex": 1, "conditions": { "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "cancel", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputIndex": 2, "conditions": { "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "question", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputIndex": 3, "conditions": { "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "unclear", "operator": { "type": "string", "operation": "equals" } }] } }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1080, 200],
      "id": "action-router",
      "name": "Route by Action",
      "outputs": ["Selected", "Cancel", "Question", "Unclear/Alt"]
    },
    {
      "parameters": {
        "jsCode": "// SELECTED: Get the chosen slot and prepare booking\nconst parsed = $('Email Reply Parser').first().json;\nconst context = $('Prep Parser Context').first().json;\nconst idx = parsed.selectedSlotIndex || 0;\nconst slot = context.pendingSlots[idx];\n\nif (!slot) throw new Error(`Invalid slot index ${idx}`);\n\nreturn [{ json: {\n  leadId: context.leadId,\n  email: context.email,\n  fullName: context.fullName,\n  advisorId: context.assignedAdvisorId,\n  advisorName: context.assignedAdvisorName,\n  bookingDate: slot.date,\n  bookingTime: slot.time,\n  bookingDisplay: slot.display\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 40],
      "id": "prep-selected-booking",
      "name": "Prep Selected Booking"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Your consultation is confirmed — NorthStar Wealth Advisory",
        "message": "=Hi {{ $json.fullName.split(' ')[0] }},\n\nGreat choice! Your consultation is confirmed:\n\n📅 {{ $json.bookingDisplay }}\n👤 Advisor: {{ $json.advisorName }}\n\nWe'll send you a calendar invitation shortly. If you need to reschedule, just reply to this email.\n\nBest regards,\nNorthStar Wealth Advisory",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1640, 40],
      "id": "send-selected-confirm",
      "name": "Send Booking Confirmation",
      "credentials": { "gmailOAuth2": { "id": "YOUR_GMAIL_CRED_ID", "name": "Gmail" } }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=leadstate_{{ $('Prep Selected Booking').first().json.leadId }}",
        "value": "={{ JSON.stringify({ status: 'BOOKED', bookedAt: $now.toISO(), appointmentDatetime: $('Prep Selected Booking').first().json.bookingDate + 'T' + $('Prep Selected Booking').first().json.bookingTime + ':00' }) }}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1920, 40],
      "id": "set-booked-reply",
      "name": "Set BOOKED",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "list" },
        "filtersUI": { "values": [{ "lookupColumn": "leadId", "lookupValue": "={{ $('Prep Selected Booking').first().json.leadId }}" }] },
        "columns": { "mappingMode": "defineBelow", "value": { "status": "BOOKED", "bookedAt": "={{ $now.toISO() }}" } },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2200, 40],
      "id": "update-booked-reply",
      "name": "Update Leads (BOOKED)",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "jsCode": "const context = $('Prep Parser Context').first().json;\nreturn [{ json: { leadId: context.leadId, email: context.email, firstName: context.fullName.split(' ')[0] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 200],
      "id": "prep-cancel",
      "name": "Prep Cancel"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "We understand — NorthStar Wealth Advisory",
        "message": "=Hi {{ $json.firstName }},\n\nWe understand. If your situation changes, please don't hesitate to reach out — we'd be happy to connect.\n\nBest regards,\nNorthStar Wealth Advisory",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1640, 200],
      "id": "send-cancel-ack",
      "name": "Send Cancel Ack",
      "credentials": { "gmailOAuth2": { "id": "YOUR_GMAIL_CRED_ID", "name": "Gmail" } }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=leadstate_{{ $('Prep Cancel').first().json.leadId }}",
        "value": "={{ JSON.stringify({ status: 'CANCELLED_BY_LEAD', cancelledAt: $now.toISO() }) }}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1920, 200],
      "id": "set-cancelled",
      "name": "Set CANCELLED",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "jsCode": "// For questions and unclear: send clarification email\nconst context = $('Prep Parser Context').first().json;\nconst parsed = $('Email Reply Parser').first().json;\nconst firstName = context.fullName.split(' ')[0];\n\nlet msg;\nif (parsed.action === 'question') {\n  msg = `Hi ${firstName},\\n\\nGreat question! ${context.assignedAdvisorName} can address that during your consultation.\\n\\nIn the meantime, would any of the times I shared work for you? Just reply with your preferred option.\\n\\nBest,\\nNorthStar Wealth Advisory`;\n} else {\n  msg = `Hi ${firstName},\\n\\nThanks for your reply! I want to make sure I get this right — were you selecting one of the available times, or would you like to suggest a different time?\\n\\nJust reply with a number (1-4) to pick a slot, or suggest another time.\\n\\nBest,\\nNorthStar Wealth Advisory`;\n}\n\nreturn [{ json: { to: context.email, body: msg, leadId: context.leadId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 380],
      "id": "build-clarification",
      "name": "Build Clarification"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "Re: Your consultation — NorthStar Wealth Advisory",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1640, 380],
      "id": "send-clarification",
      "name": "Send Clarification",
      "credentials": { "gmailOAuth2": { "id": "YOUR_GMAIL_CRED_ID", "name": "Gmail" } }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=leadstate_{{ $('Build Clarification').first().json.leadId }}",
        "value": "={{ JSON.stringify({ lastEmailSentAt: $now.toISO() }) }}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1920, 380],
      "id": "update-last-email",
      "name": "Update lastEmailSentAt",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    }
  ],
  "connections": {
    "Gmail Trigger - New Replies": { "main": [[{ "node": "Match Email to Lead", "type": "main", "index": 0 }]] },
    "Match Email to Lead": { "main": [[{ "node": "Lead Found?", "type": "main", "index": 0 }]] },
    "Lead Found?": { "main": [[{ "node": "In Outreach?", "type": "main", "index": 0 }], []] },
    "In Outreach?": { "main": [[{ "node": "Prep Parser Context", "type": "main", "index": 0 }], []] },
    "Prep Parser Context": { "main": [[{ "node": "Email Reply Parser", "type": "main", "index": 0 }]] },
    "Email Reply Parser": { "main": [[{ "node": "Route by Action", "type": "main", "index": 0 }]] },
    "Gemini (Parser)": { "ai_languageModel": [[{ "node": "Email Reply Parser", "type": "ai_languageModel", "index": 0 }]] },
    "Reply Parser Schema": { "ai_outputParser": [[{ "node": "Email Reply Parser", "type": "ai_outputParser", "index": 0 }]] },
    "Route by Action": { "main": [
      [{ "node": "Prep Selected Booking", "type": "main", "index": 0 }],
      [{ "node": "Prep Cancel", "type": "main", "index": 0 }],
      [{ "node": "Build Clarification", "type": "main", "index": 0 }],
      [{ "node": "Build Clarification", "type": "main", "index": 0 }]
    ]},
    "Prep Selected Booking": { "main": [[{ "node": "Send Booking Confirmation", "type": "main", "index": 0 }]] },
    "Send Booking Confirmation": { "main": [[{ "node": "Set BOOKED", "type": "main", "index": 0 }]] },
    "Set BOOKED": { "main": [[{ "node": "Update Leads (BOOKED)", "type": "main", "index": 0 }]] },
    "Prep Cancel": { "main": [[{ "node": "Send Cancel Ack", "type": "main", "index": 0 }]] },
    "Send Cancel Ack": { "main": [[{ "node": "Set CANCELLED", "type": "main", "index": 0 }]] },
    "Build Clarification": { "main": [[{ "node": "Send Clarification", "type": "main", "index": 0 }]] },
    "Send Clarification": { "main": [[{ "node": "Update lastEmailSentAt", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "wf6-inbound-v1",
  "meta": { "instanceId": "northstar-pipeline" },
  "id": "wf6-inbound-email",
  "tags": [{ "name": "northstar" }, { "name": "email" }, { "name": "booking" }]
}
