WF8 - Rejection Email Generation.json
{
  "name": "WF8 - Rejection Email Generation",
  "nodes": [
    {
      "parameters": {
        "content": "# WF8: REJECTION EMAIL GENERATION (DETERMINISTIC)\n\n**Trigger:** Called by WF4 or WF7 (48h grace period expiry)\n\n**NO AI — Code node builds email from templates per rejection reason:**\n- below_threshold_on_review → Nurturing + goal-targeted resources\n- not_a_fit → Redirecting + alternative suggestions\n- incomplete_info → Inviting + reapply CTA\n- other → Gracious general response\n\n**Why no AI:** Client-facing rejection = high-stakes. Templates ensure consistency, auditability, zero hallucination risk.",
        "height": 300,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "eb30be7a-e492-4696-a34c-19a8fc3d666b",
      "name": "WF8 Overview"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "leadId"
            },
            {
              "name": "rejectionReason"
            },
            {
              "name": "customNote"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        400,
        304
      ],
      "id": "4c682aac-2719-4fac-99df-47ec43297c03",
      "name": "Called from WF4"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=leadstate_{{ $json.leadId }}",
        "keyType": "hash",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        640,
        304
      ],
      "id": "a413ec51-d024-4ef6-b9f9-c268bf5c0c44",
      "name": "Get Lead State",
      "credentials": {
        "redis": {
          "id": "VgHjJLwct64e99fI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Called from WF4').first().json;\nconst lead = $('Get Lead State').first().json;\n\nconst firstName = (lead.fullName || '').split(' ')[0];\n\nreturn [{ json: {\n  chatInput: `Rejection reason: ${input.rejectionReason}\\nCustom note from admin: ${input.customNote || ''}\\nClient name: ${firstName}\\nFinancial goals: ${lead.financialGoals || ''}\\nAsset range: ${lead.investableAssets || ''}`,\n  leadId: input.leadId,\n  email: lead.email,\n  fullName: lead.fullName,\n  firstName,\n  rejectionReason: input.rejectionReason,\n  customNote: input.customNote || '',\n  financialGoals: lead.financialGoals || '',\n  investableAssets: lead.investableAssets || ''\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        304
      ],
      "id": "9ace8f04-1777-4b40-9ecf-f8cfed758143",
      "name": "Prep Rejection Context"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1632,
        304
      ],
      "id": "e1ddc60f-8949-4270-ad0e-bc4ca30307ec",
      "name": "Send Rejection Email",
      "webhookId": "d3f2568b-5672-435f-bfee-4472c397f430",
      "credentials": {
        "gmailOAuth2": {
          "id": "dnECY8GMehNvK0Ok",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=leadstate_{{ $('Build Email').first().json.leadId }}",
        "value": "={{ JSON.stringify({ rejectionEmailSentAt: $now.toISO() }) }}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1856,
        304
      ],
      "id": "b3264ad2-aacf-4b3e-9170-306467ef3083",
      "name": "Mark Rejection Sent",
      "credentials": {
        "redis": {
          "id": "VgHjJLwct64e99fI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1408,
        528
      ],
      "id": "3f2966a5-55b2-4bff-a02f-f7dcc3e845cf",
      "name": "Catch WF8 Errors"
    },
    {
      "parameters": {
        "jsCode": "// Fallback: send generic rejection template on AI failure\nconst context = $('Prep Rejection Context').first().json;\nreturn [{ json: {\n  to: context.email,\n  subject: 'Thank you for your interest — NorthStar Wealth Advisory',\n  body: `Hi ${context.firstName},\\n\\nThank you for reaching out to NorthStar Wealth Advisory. We appreciate you sharing your financial goals with us.\\n\\nAt this time, we believe you may be better served by resources that more closely align with your current needs. Here are some excellent options:\\n\\n- Wealthsimple Invest (wealthsimple.com)\\n- Financial Planning Standards Council (fpsc.ca)\\n\\nShould your circumstances change, we'd love to hear from you again.\\n\\nWarm regards,\\nNorthStar Wealth Advisory`,\n  leadId: context.leadId\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        528
      ],
      "id": "6628819a-6437-48f5-9f83-e4acff6987b7",
      "name": "Fallback Template"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1888,
        528
      ],
      "id": "2a2ab304-9db2-49b4-bb24-0398b16c8b94",
      "name": "Send Fallback Email",
      "webhookId": "ed30050a-22b6-499f-867f-2911b15068f7",
      "credentials": {
        "gmailOAuth2": {
          "id": "dnECY8GMehNvK0Ok",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// DETERMINISTIC REJECTION EMAIL BUILDER\n// No AI — templates are hardcoded per rejection reason with variable substitution.\n// This is a client-facing email about a high-stakes decision. AI must not compose it.\n\nconst ctx = $input.first().json;\nconst firstName = ctx.firstName || 'there';\nconst goals = ctx.financialGoals || '';\nconst assets = ctx.investableAssets || '';\nconst customNote = ctx.customNote || '';\nconst reason = ctx.rejectionReason || 'other';\n\n// Parse goals for resource targeting\nconst goalList = goals.toLowerCase();\nconst hasRetirement = goalList.includes('retirement');\nconst hasTax = goalList.includes('tax');\nconst hasDebt = goalList.includes('debt');\nconst hasEducation = goalList.includes('education');\nconst hasEstate = goalList.includes('estate');\n\n// Build targeted resources based on goals\nfunction getResources() {\n  const resources = [];\n  if (hasRetirement) resources.push('• Canada.ca Retirement Planning Hub — canada.ca/retirement');\n  if (hasTax) resources.push('• CRA Tax Planning Resources — canada.ca/taxes');\n  if (hasDebt) resources.push('• Credit Counselling Canada — creditcounsellingcanada.ca');\n  if (hasEducation) resources.push('• RESP Information (Canada.ca) — canada.ca/resp');\n  if (hasEstate) resources.push('• Estate Planning Council of Canada — epcc.ca');\n  // Always include general resources\n  resources.push('• Financial Planning Standards Council — fpcanada.ca');\n  if (resources.length < 3) resources.push('• Wealthsimple Learn — wealthsimple.com/learn');\n  return resources.slice(0, 3).join('\\n');\n}\n\nlet body = '';\n\nswitch (reason) {\n  case 'below_threshold_on_review':\n    body = `Hi ${firstName},\\n\\nThank you for reaching out to NorthStar Wealth Advisory. We appreciate you taking the time to share your financial goals with us.\\n\\nAfter reviewing your application, we believe you may be better served at this stage by resources that are specifically designed for your current financial position. Here are some excellent options we recommend:\\n\\n${getResources()}\\n\\nThese are genuinely helpful starting points, and we encourage you to explore them.\\n\\nAs your financial situation evolves, we would welcome the opportunity to work with you in the future. Please don't hesitate to reach out again when you're ready.\\n\\nWarm regards,\\nNorthStar Wealth Advisory Team`;\n    break;\n\n  case 'not_a_fit':\n    body = `Hi ${firstName},\\n\\nThank you for your interest in NorthStar Wealth Advisory. We appreciate you sharing your financial goals with us.\\n\\nAfter careful consideration, we want to make sure you receive the best possible guidance for your specific needs. Based on your goals, we believe the following resources may be a better fit at this time:\\n\\n${getResources()}\\n\\nWe want to ensure you get the right support, and these organizations specialize in areas that align closely with what you're looking for.\\n\\nWe wish you all the best on your financial journey, and our door is always open should your needs change in the future.\\n\\nBest regards,\\nNorthStar Wealth Advisory Team`;\n    break;\n\n  case 'incomplete_info':\n    body = `Hi ${firstName},\\n\\nThank you for reaching out to NorthStar Wealth Advisory.\\n\\nWe reviewed your application but unfortunately weren't able to move forward with the information provided. We'd love to learn more about your situation so we can properly assess how we might help.\\n\\nIf you're still interested, you're welcome to submit a new application with additional details about your financial goals and current situation. We're here to help and want to make sure we can provide the best possible guidance.\\n\\nYou can reapply at any time through our website.\\n\\nBest regards,\\nNorthStar Wealth Advisory Team`;\n    break;\n\n  default: // 'other' and any unrecognized reason\n    body = `Hi ${firstName},\\n\\nThank you for reaching out to NorthStar Wealth Advisory. We truly appreciate your interest in our services.\\n\\nAfter reviewing your application, we're unable to move forward at this time. We understand this may be disappointing, and we want you to know that this doesn't reflect on your financial goals or potential.\\n\\nHere are some resources that may be helpful as you continue your financial planning journey:\\n\\n• Financial Planning Standards Council — fpcanada.ca\\n• Wealthsimple Learn — wealthsimple.com/learn\\n• Canada.ca Financial Planning — canada.ca/financial-planning\\n\\nShould your circumstances change in the future, we would be happy to hear from you again.\\n\\nWarm regards,\\nNorthStar Wealth Advisory Team`;\n    break;\n}\n\n// Subject line map (deterministic)\nconst subjectMap = {\n  'below_threshold_on_review': 'Resources to help you on your financial journey',\n  'not_a_fit': 'Some recommendations for your financial goals',\n  'incomplete_info': \"We'd love to learn more\",\n  'other': 'Thank you for your interest'\n};\n\nconst subject = (subjectMap[reason] || subjectMap['other']) + ' — NorthStar Wealth Advisory';\n\nreturn [{ json: {\n  to: ctx.email,\n  subject,\n  body,\n  leadId: ctx.leadId\n} }];"
      },
      "id": "deterministic-rejection-email",
      "name": "Build Rejection Email (Deterministic)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Called from WF4": {
      "main": [
        [
          {
            "node": "Get Lead State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead State": {
      "main": [
        [
          {
            "node": "Prep Rejection Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rejection Email": {
      "main": [
        [
          {
            "node": "Mark Rejection Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Catch WF8 Errors": {
      "main": [
        [
          {
            "node": "Fallback Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Template": {
      "main": [
        [
          {
            "node": "Send Fallback Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Rejection Context": {
      "main": [
        [
          {
            "node": "Build Rejection Email (Deterministic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rejection Email (Deterministic)": {
      "main": [
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1890e81-6b22-42ae-98c5-e8749efef67c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "168c7d7211133de6d8ec393ae7a3e3a882a0d6cfc6397ea1db2fe66f28042b4e"
  },
  "id": "F4ZRJbdHVKvYnh5v",
  "tags": [
    {
      "createdAt": "2026-02-24T16:03:56.865Z",
      "updatedAt": "2026-02-24T16:03:56.865Z",
      "id": "JftEfkiGmHhZofR4",
      "name": "northstar"
    },
    {
      "createdAt": "2026-02-24T16:07:35.000Z",
      "updatedAt": "2026-02-24T16:07:35.000Z",
      "id": "L8MFcuwh4FQTsc9w",
      "name": "rejection"
    },
    {
      "createdAt": "2026-02-24T16:03:56.884Z",
      "updatedAt": "2026-02-24T16:03:56.884Z",
      "id": "eCDeIyZWB5Yghn4f",
      "name": "airtable"
    },
    {
      "createdAt": "2026-02-24T16:04:19.497Z",
      "updatedAt": "2026-02-24T16:04:19.497Z",
      "id": "hVCyWUtCK6xEiHiC",
      "name": "ai"
    }
  ]
}