WF8 - Rejection Email Generation.json
{
  "name": "WF8 - Rejection Email Generation",
  "nodes": [
    {
      "parameters": {
        "content": "# WF8: REJECTION EMAIL GENERATION (DETERMINISTIC)\n\n**Trigger:** Called by WF4 or WF7 (48h grace period expiry)\n\n**NO AI — Code node builds email from templates per rejection reason:**\n- below_threshold_on_review → Nurturing + goal-targeted resources\n- not_a_fit → Redirecting + alternative suggestions\n- incomplete_info → Inviting + reapply CTA\n- other → Gracious general response\n\n**Why no AI:** Client-facing rejection = high-stakes. Templates ensure consistency, auditability, zero hallucination risk.",
        "height": 300,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "eb30be7a-e492-4696-a34c-19a8fc3d666b",
      "name": "WF8 Overview"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "leadId"
            },
            {
              "name": "rejectionReason"
            },
            {
              "name": "customNote"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        400,
        304
      ],
      "id": "4c682aac-2719-4fac-99df-47ec43297c03",
      "name": "Called from WF4"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblEPuNDRprzezbK1",
          "mode": "id"
        },
        "filterByFormula": "={leadId}='{{ $('Called from WF4').first().json.leadId }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        640,
        304
      ],
      "id": "a413ec51-d024-4ef6-b9f9-c268bf5c0c44",
      "name": "Get Lead from Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "CP9rcRyd72mNUa9G",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Called from WF4').first().json;\nconst lead = $('Get Lead from Airtable').first().json;\n\nconst firstName = (lead.fullName || '').split(' ')[0];\n\nreturn [{ json: {\n  chatInput: `Rejection reason: ${input.rejectionReason}\\nCustom note from admin: ${input.customNote || ''}\\nClient name: ${firstName}\\nFinancial goals: ${lead.financialGoals || ''}\\nAsset range: ${lead.investableAssets || ''}`,\n  leadId: input.leadId,\n  email: lead.email,\n  fullName: lead.fullName,\n  firstName,\n  rejectionReason: input.rejectionReason,\n  customNote: input.customNote || '',\n  financialGoals: lead.financialGoals || '',\n  investableAssets: lead.investableAssets || ''\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        304
      ],
      "id": "9ace8f04-1777-4b40-9ecf-f8cfed758143",
      "name": "Prep Rejection Context"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "senderName": "NorthStar Wealth Advisory"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1632,
        304
      ],
      "id": "e1ddc60f-8949-4270-ad0e-bc4ca30307ec",
      "name": "Send Rejection Email",
      "webhookId": "d3f2568b-5672-435f-bfee-4472c397f430",
      "credentials": {
        "gmailOAuth2": {
          "id": "dnECY8GMehNvK0Ok",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=leadstate_{{ $('Build Rejection Email (Deterministic)').first().json.leadId }}",
        "value": "={{ JSON.stringify({ rejectionEmailSentAt: $now.toISO() }) }}",
        "keyType": "hash"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1856,
        304
      ],
      "id": "b3264ad2-aacf-4b3e-9170-306467ef3083",
      "name": "Mark Rejection Sent",
      "credentials": {
        "redis": {
          "id": "VgHjJLwct64e99fI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1408,
        528
      ],
      "id": "3f2966a5-55b2-4bff-a02f-f7dcc3e845cf",
      "name": "Catch WF8 Errors"
    },
    {
      "parameters": {
        "jsCode": "// Fallback: send generic styled rejection template on error\nconst context = $('Prep Rejection Context').first().json;\nconst firstName = context.firstName || 'there';\nconst body = `<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 600px; margin: 0 auto; color: #1a1a2e;\">\n<div style=\"background: #0a2540; padding: 32px 40px; border-radius: 12px 12px 0 0;\">\n  <h1 style=\"color: #ffffff; font-size: 22px; font-weight: 600; margin: 0;\">Thank You for Reaching Out</h1>\n</div>\n<div style=\"background: #ffffff; padding: 32px 40px; border: 1px solid #e8e8e8; border-top: none;\">\n  <p style=\"font-size: 16px; line-height: 1.6; margin-top: 0;\">Dear ${firstName},</p>\n  <p style=\"font-size: 16px; line-height: 1.6;\">Thank you for reaching out to NorthStar Wealth Advisory. We appreciate your interest in our services.</p>\n  <p style=\"font-size: 16px; line-height: 1.6;\">After reviewing your application, we've decided not to move forward with a consultation at this time. We want to ensure you receive the best possible guidance for your needs, and have a few resources that may be helpful:</p>\n  <div style=\"border: 1px solid #e5e7eb; border-radius: 8px; overflow: hidden; margin: 24px 0;\">\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <thead><tr style=\"background: #f8f9fb;\"><th style=\"padding: 10px 16px; text-align: left; font-size: 12px; text-transform: uppercase; letter-spacing: 0.5px; color: #6b7280; border-bottom: 1px solid #e5e7eb;\">Recommended Resources</th></tr></thead>\n      <tbody>\n        <tr><td style=\"padding: 14px 16px; border-bottom: 1px solid #f0f0f0;\"><a href=\"https://fpcanada.ca\" style=\"color: #0a2540; font-size: 15px; font-weight: 600; text-decoration: none;\">Financial Planning Standards Council</a><br><span style=\"font-size: 13px; color: #6b7280;\">fpcanada.ca</span></td></tr>\n        <tr><td style=\"padding: 14px 16px; border-bottom: 1px solid #f0f0f0;\"><a href=\"https://wealthsimple.com/learn\" style=\"color: #0a2540; font-size: 15px; font-weight: 600; text-decoration: none;\">Wealthsimple Learn</a><br><span style=\"font-size: 13px; color: #6b7280;\">wealthsimple.com/learn</span></td></tr>\n        <tr><td style=\"padding: 14px 16px;\"><a href=\"https://canada.ca/en/financial-consumer-agency.html\" style=\"color: #0a2540; font-size: 15px; font-weight: 600; text-decoration: none;\">Financial Consumer Agency of Canada</a><br><span style=\"font-size: 13px; color: #6b7280;\">canada.ca/en/financial-consumer-agency.html</span></td></tr>\n      </tbody>\n    </table>\n  </div>\n  <div style=\"background: #f8f9fb; border-left: 4px solid #0a2540; padding: 16px 20px; border-radius: 0 8px 8px 0; margin: 24px 0;\">\n    <p style=\"margin: 0; font-size: 14px; color: #374151; line-height: 1.6;\">Should your circumstances change in the future, we would welcome hearing from you again.</p>\n  </div>\n  <p style=\"font-size: 16px; line-height: 1.6;\">We wish you all the best on your financial journey.</p>\n  <p style=\"font-size: 15px; line-height: 1.6; margin-bottom: 0;\">Warm regards,<br><strong>NorthStar Wealth Advisory Team</strong></p>\n</div>\n<div style=\"padding: 20px 40px; text-align: center; font-size: 12px; color: #9ca3af;\">NorthStar Wealth Advisory \\u00b7 Toronto, ON<br>This email was sent regarding your recent application.</div>\n</div>`;\nreturn [{ json: {\n  to: context.email,\n  subject: 'Thank you for your interest \\u2014 NorthStar Wealth Advisory',\n  body,\n  leadId: context.leadId\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        528
      ],
      "id": "6628819a-6437-48f5-9f83-e4acff6987b7",
      "name": "Fallback Template"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "senderName": "NorthStar Wealth Advisory"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1888,
        528
      ],
      "id": "2a2ab304-9db2-49b4-bb24-0398b16c8b94",
      "name": "Send Fallback Email",
      "webhookId": "ed30050a-22b6-499f-867f-2911b15068f7",
      "credentials": {
        "gmailOAuth2": {
          "id": "dnECY8GMehNvK0Ok",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// DETERMINISTIC REJECTION EMAIL BUILDER — HTML styled to match WF5 acceptance emails\nconst ctx = $input.first().json;\nconst firstName = ctx.firstName || 'there';\nconst goals = ctx.financialGoals || '';\nconst customNote = ctx.customNote || '';\nconst reason = ctx.rejectionReason || 'other';\n\nconst goalList = goals.toLowerCase();\nconst hasRetirement = goalList.includes('retirement');\nconst hasTax = goalList.includes('tax');\nconst hasDebt = goalList.includes('debt');\nconst hasEducation = goalList.includes('education');\nconst hasEstate = goalList.includes('estate');\n\nfunction getResources() {\n  const resources = [];\n  if (hasRetirement) resources.push({ label: 'Canada.ca Retirement Planning Hub', url: 'https://canada.ca/en/services/benefits/publicpensions.html' });\n  if (hasTax) resources.push({ label: 'CRA Tax Planning Resources', url: 'https://canada.ca/en/revenue-agency.html' });\n  if (hasDebt) resources.push({ label: 'Credit Counselling Canada', url: 'https://creditcounsellingcanada.ca' });\n  if (hasEducation) resources.push({ label: 'RESP Information (Canada.ca)', url: 'https://canada.ca/en/employment-social-development/programs/education-savings.html' });\n  if (hasEstate) resources.push({ label: 'Estate Planning Council of Canada', url: 'https://epcc.ca' });\n  resources.push({ label: 'Financial Planning Standards Council', url: 'https://fpcanada.ca' });\n  if (resources.length < 3) resources.push({ label: 'Wealthsimple Learn', url: 'https://wealthsimple.com/learn' });\n  return resources.slice(0, 3);\n}\n\nconst resources = getResources();\nconst resourceRows = resources.map(r =>\n  `<tr><td style=\"padding: 14px 16px; border-bottom: 1px solid #f0f0f0;\"><a href=\"${r.url}\" style=\"color: #0a2540; font-size: 15px; font-weight: 600; text-decoration: none;\">${r.label}</a><br><span style=\"font-size: 13px; color: #6b7280;\">${r.url}</span></td></tr>`\n).join('');\n\nconst subjectMap = {\n  'below_threshold_on_review': 'Resources to help you on your financial journey',\n  'not_a_fit': 'Some recommendations for your financial goals',\n  'incomplete_info': \"We'd love to learn more\",\n  'other': 'Thank you for your interest'\n};\nconst subject = (subjectMap[reason] || subjectMap['other']) + ' — NorthStar Wealth Advisory';\n\nconst introMap = {\n  'below_threshold_on_review': `After reviewing your application, we've determined that we won't be able to proceed with a consultation at this time. That said, we believe you may be well served by resources specifically designed for your current financial position, and we've put together some excellent options we genuinely recommend:`,\n  'not_a_fit': `After careful consideration, we've decided not to move forward with a consultation at this time. We want to make sure you receive the best possible guidance for your specific needs, and based on your goals, we believe the following resources may be a stronger fit:`,\n  'incomplete_info': `We reviewed your application but unfortunately won't be able to move forward with a consultation based on the information provided. We'd love to learn more about your situation — you're welcome to reapply at any time with additional details about your financial goals.`,\n  'other': `After reviewing your application, we're unable to proceed with a consultation at this time. We want to make sure you have access to the right resources as you continue your financial planning journey:`\n};\nconst intro = introMap[reason] || introMap['other'];\n\nconst showReapplyCTA = reason === 'incomplete_info';\nconst reapplyBlock = showReapplyCTA ? `\n<div style=\"background: #eff6ff; border: 1px solid #bfdbfe; padding: 16px 20px; border-radius: 8px; margin: 24px 0;\">\n  <p style=\"margin: 0; font-size: 14px; color: #1e40af;\"><strong>Ready to reapply?</strong> Simply visit our website and submit a new intake form — we're happy to review your application again with any additional context you can share.</p>\n</div>` : '';\n\nconst body = `<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 600px; margin: 0 auto; color: #1a1a2e;\">\n<div style=\"background: #0a2540; padding: 32px 40px; border-radius: 12px 12px 0 0;\">\n  <h1 style=\"color: #ffffff; font-size: 22px; font-weight: 600; margin: 0;\">Thank You for Reaching Out</h1>\n</div>\n<div style=\"background: #ffffff; padding: 32px 40px; border: 1px solid #e8e8e8; border-top: none;\">\n  <p style=\"font-size: 16px; line-height: 1.6; margin-top: 0;\">Dear ${firstName},</p>\n  <p style=\"font-size: 16px; line-height: 1.6;\">Thank you for your interest in NorthStar Wealth Advisory. We appreciate you taking the time to share your financial goals with us.</p>\n  <p style=\"font-size: 16px; line-height: 1.6;\">${intro}</p>\n\n  ${!showReapplyCTA ? `\n  <div style=\"border: 1px solid #e5e7eb; border-radius: 8px; overflow: hidden; margin: 24px 0;\">\n    <table style=\"width: 100%; border-collapse: collapse;\">\n      <thead><tr style=\"background: #f8f9fb;\"><th style=\"padding: 10px 16px; text-align: left; font-size: 12px; text-transform: uppercase; letter-spacing: 0.5px; color: #6b7280; border-bottom: 1px solid #e5e7eb;\">Recommended Resources</th></tr></thead>\n      <tbody>${resourceRows}</tbody>\n    </table>\n  </div>` : ''}\n\n  ${reapplyBlock}\n\n  <div style=\"background: #f8f9fb; border-left: 4px solid #0a2540; padding: 16px 20px; border-radius: 0 8px 8px 0; margin: 24px 0;\">\n    <p style=\"margin: 0; font-size: 14px; color: #374151; line-height: 1.6;\">Should your circumstances change in the future, we would welcome hearing from you again. Our door is always open.</p>\n  </div>\n\n  <p style=\"font-size: 16px; line-height: 1.6;\">We wish you all the best on your financial journey.</p>\n  <p style=\"font-size: 15px; line-height: 1.6; margin-bottom: 0;\">Warm regards,<br><strong>NorthStar Wealth Advisory Team</strong></p>\n</div>\n<div style=\"padding: 20px 40px; text-align: center; font-size: 12px; color: #9ca3af;\">NorthStar Wealth Advisory · Toronto, ON<br>This email was sent regarding your recent application.</div>\n</div>`;\n\nreturn [{ json: {\n  to: ctx.email,\n  subject,\n  body,\n  leadId: ctx.leadId\n} }];"
      },
      "id": "deterministic-rejection-email",
      "name": "Build Rejection Email (Deterministic)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Called from WF4": {
      "main": [
        [
          {
            "node": "Get Lead from Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead from Airtable": {
      "main": [
        [
          {
            "node": "Prep Rejection Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rejection Email": {
      "main": [
        [
          {
            "node": "Mark Rejection Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Catch WF8 Errors": {
      "main": [
        [
          {
            "node": "Fallback Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Template": {
      "main": [
        [
          {
            "node": "Send Fallback Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Rejection Context": {
      "main": [
        [
          {
            "node": "Build Rejection Email (Deterministic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rejection Email (Deterministic)": {
      "main": [
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "05b5df1a-6f21-4419-8ffb-1d08de87952f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "168c7d7211133de6d8ec393ae7a3e3a882a0d6cfc6397ea1db2fe66f28042b4e"
  },
  "id": "F4ZRJbdHVKvYnh5v",
  "tags": [
    {
      "createdAt": "2026-02-24T16:03:56.865Z",
      "updatedAt": "2026-02-24T16:03:56.865Z",
      "id": "JftEfkiGmHhZofR4",
      "name": "northstar"
    },
    {
      "createdAt": "2026-02-24T16:07:35.000Z",
      "updatedAt": "2026-02-24T16:07:35.000Z",
      "id": "L8MFcuwh4FQTsc9w",
      "name": "rejection"
    },
    {
      "createdAt": "2026-02-24T16:03:56.884Z",
      "updatedAt": "2026-02-24T16:03:56.884Z",
      "id": "eCDeIyZWB5Yghn4f",
      "name": "airtable"
    },
    {
      "createdAt": "2026-02-24T16:04:19.497Z",
      "updatedAt": "2026-02-24T16:04:19.497Z",
      "id": "hVCyWUtCK6xEiHiC",
      "name": "ai"
    }
  ]
}