WF9 - Business Data Cache Refresh.json
{
  "name": "WF9 - Business Data Cache Refresh",
  "nodes": [
    {
      "parameters": {
        "content": "# WF9: BUSINESS DATA CACHE REFRESH\n\n**Purpose:** Syncs Airtable config data → Redis cache\n\n**Triggers:**\n1. ⏰ Schedule: Every 6 hours\n2. 🔗 Webhook: POST /webhook/cache-refresh (from Apps Script on edit)\n3. ▶️ Manual: Click Execute\n\n**Sequential execution** — fetches Airtable tables one at a time to avoid rate limits.\n\n**Redis Keys Written:**\n- firm:advisors\n- firm:service_tiers\n- firm:advisor_availability\n- firm:config (all Configuration tab as single object)\n- firm:email_templates",
        "height": 440,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "15b3e3f1-5aea-4d45-92a3-6c820f86539d",
      "name": "WF9 Overview"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {
              "triggerAtHour": 6
            },
            {
              "triggerAtHour": 12
            },
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        400,
        304
      ],
      "id": "7cf0f5e0-9257-41d9-bc4f-a42e4dad0c55",
      "name": "Every 6 Hours"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cache-refresh",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        400,
        512
      ],
      "id": "e1d996a5-cb6d-405b-8316-e51de74ef1cf",
      "name": "Webhook - Cache Refresh",
      "webhookId": "10dfad0d-c4dc-4d3a-95b5-bd3e70e31481"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        400,
        704
      ],
      "id": "6455ce00-ce77-4d21-8441-baa9c03abedb",
      "name": "Manual Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        640,
        512
      ],
      "id": "94a1b346-bde6-4cd5-bead-69bc595bb0af",
      "name": "Merge Triggers"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblHTsE90vHoMv91I",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        880,
        512
      ],
      "id": "075f2255-25be-4116-a457-90c6c51cb759",
      "name": "Fetch Advisor Info (Airtable)"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblk9vQT3dDivYuo0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1120,
        512
      ],
      "id": "997c4745-6752-4610-860b-c4ce220e3d5e",
      "name": "Fetch Consultation Services (Airtable)"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbliUX7QurrQwFNbQ",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1360,
        512
      ],
      "id": "060c5f47-6499-4a54-a6c2-41e3a199c89c",
      "name": "Fetch Advisor Availability (Airtable)"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblXKvNO3oEOUwabe",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1600,
        512
      ],
      "id": "688fefaa-59f1-45c7-a2cb-2417c39327c5",
      "name": "Fetch Configuration (Airtable)"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tbltY5quYso4mq655",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1840,
        512
      ],
      "id": "39260396-4e5b-4b51-9c4a-ebe2f7edd657",
      "name": "Fetch Email Templates (Airtable)"
    },
    {
      "parameters": {
        "jsCode": "// Build all cache objects from fetched sheet data\nconst advisorRows = $('Fetch Advisor Info (Airtable)').all().map(i => i.json);\nconst serviceRows = $('Fetch Consultation Services (Airtable)').all().map(i => i.json);\nconst availRows = $('Fetch Advisor Availability (Airtable)').all().map(i => i.json);\nconst configRows = $('Fetch Configuration (Airtable)').all().map(i => i.json);\nconst templateRows = $('Fetch Email Templates (Airtable)').all().map(i => i.json);\n\n// --- Advisors: parse specializations into arrays ---\nconst advisors = advisorRows.map(r => ({\n  advisorId: r.advisorId,\n  name: r.name,\n  email: r.email,\n  calendarId: r.calendarId,\n  specializations: (r.specializations || '').split(',').map(s => s.trim()).filter(Boolean),\n  currentCaseload: Number(r.currentCaseload) || 0,\n  maxCaseload: Number(r.maxCaseload) || 25,\n  bio: r.bio || ''\n}));\n\n// --- Service Tiers: parse qualifyingGoals ---\nconst serviceTiers = serviceRows.map(r => ({\n  tierId: r.tierId,\n  tierName: r.tierName,\n  description: r.description,\n  qualifyingGoals: (r.qualifyingGoals || '').split(',').map(s => s.trim()).filter(Boolean),\n  minAssets: r.minAssets\n}));\n\n// --- Availability: keep as-is ---\nconst availability = availRows.map(r => ({\n  date: r.date,\n  advisorId: r.advisorId,\n  advisorName: r.advisorName,\n  workingHours: r.workingHours,\n  blockedTimes: r.blockedTimes || ''\n}));\n\n// --- Config: key-value → single object ---\nconst config = {};\nconfigRows.forEach(r => {\n  if (!r.key) return;\n  let val = r.value;\n  // Try to parse JSON values\n  try { val = JSON.parse(val); } catch(e) {}\n  config[r.key] = val;\n});\n\n// --- Email Templates: keyed by templateKey ---\nconst templates = {};\ntemplateRows.forEach(r => {\n  if (!r.templateKey) return;\n  templates[r.templateKey] = { subject: r.subject, body: r.body };\n});\n\nreturn [{\n  json: {\n    advisors: JSON.stringify(advisors),\n    serviceTiers: JSON.stringify(serviceTiers),\n    availability: JSON.stringify(availability),\n    config: JSON.stringify(config),\n    templates: JSON.stringify(templates),\n    refreshedAt: new Date().toISOString(),\n    keysCount: 5\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        512
      ],
      "id": "bf928f42-3ad2-4573-8618-dd4d8e06a40d",
      "name": "Build Cache Objects"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "firm:advisors",
        "value": "={{ $json.advisors }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2320,
        288
      ],
      "id": "3f4599da-12a7-4a4e-8b08-30744ed76b83",
      "name": "Cache Advisors"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "firm:service_tiers",
        "value": "={{ $json.serviceTiers }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2320,
        448
      ],
      "id": "629b8d0c-5918-42de-8269-e9cc3b9b0543",
      "name": "Cache Service Tiers"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "firm:advisor_availability",
        "value": "={{ $json.availability }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2320,
        608
      ],
      "id": "18fda51b-3c17-486a-9a45-6ace0c5d1e6c",
      "name": "Cache Availability"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "firm:config",
        "value": "={{ $json.config }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2320,
        768
      ],
      "id": "cbb50263-ec3f-4881-874c-a5bc41c170d5",
      "name": "Cache Config"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "firm:email_templates",
        "value": "={{ $json.templates }}",
        "keyType": "string"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2320,
        928
      ],
      "id": "0db706a3-d334-4707-a83a-f0d3b39d78fa",
      "name": "Cache Email Templates"
    },
    {
      "parameters": {
        "jsCode": "const refreshedAt = $('Build Cache Objects').first().json.refreshedAt;\nconst keysCount = $('Build Cache Objects').first().json.keysCount;\nreturn [{ json: { timestamp: refreshedAt, event: 'CACHE_REFRESH', details: `Refreshed ${keysCount} cache keys`, status: 'SUCCESS' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        608
      ],
      "id": "19c32ef0-de40-435a-b73b-a86012b59500",
      "name": "Log Refresh Success"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appRvAEh3HHEra8gz",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblrmQkgKQg3Va9vA",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "event": "={{ $json.event }}",
            "details": "={{ $json.details }}",
            "status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2800,
        608
      ],
      "id": "eb4bc9a2-7ffa-40c4-a54a-3c11348358f3",
      "name": "Write System Log (Airtable)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        2320,
        1152
      ],
      "id": "d374404a-bcb8-4c6a-8126-b13f8970e3ef",
      "name": "Catch Errors"
    },
    {
      "parameters": {
        "sendTo": "admin@northstarwealth.ca",
        "subject": "⚠️ Cache Refresh FAILED — NorthStar Pipeline",
        "message": "=Cache refresh failed at {{ $now.toISO() }}\n\nError: {{ $json.error?.message || JSON.stringify($json) }}\n\nPlease check n8n workflow execution logs.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2560,
        1152
      ],
      "id": "0fa4bacd-45db-49de-99a2-d0b4f3f21c60",
      "name": "Send Error Alert",
      "webhookId": "23620d38-7fec-454a-a00f-197c653e6a4e"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch Advisor Info (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Cache Refresh": {
      "main": [
        [
          {
            "node": "Fetch Advisor Info (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Advisor Info (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Advisor Info (Airtable)": {
      "main": [
        [
          {
            "node": "Fetch Consultation Services (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Consultation Services (Airtable)": {
      "main": [
        [
          {
            "node": "Fetch Advisor Availability (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Advisor Availability (Airtable)": {
      "main": [
        [
          {
            "node": "Fetch Configuration (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Configuration (Airtable)": {
      "main": [
        [
          {
            "node": "Fetch Email Templates (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Email Templates (Airtable)": {
      "main": [
        [
          {
            "node": "Build Cache Objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cache Objects": {
      "main": [
        [
          {
            "node": "Cache Advisors",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cache Service Tiers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cache Availability",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cache Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cache Email Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Config": {
      "main": [
        [
          {
            "node": "Log Refresh Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Refresh Success": {
      "main": [
        [
          {
            "node": "Write System Log (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Catch Errors": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3cb7ed65-feb3-414f-b7f2-cbfaf5bd0e79",
  "meta": {
    "instanceId": "168c7d7211133de6d8ec393ae7a3e3a882a0d6cfc6397ea1db2fe66f28042b4e"
  },
  "id": "MCqjHizlFzxsY7ZL",
  "tags": [
    {
      "createdAt": "2026-02-24T16:03:56.865Z",
      "updatedAt": "2026-02-24T16:03:56.865Z",
      "id": "JftEfkiGmHhZofR4",
      "name": "northstar"
    },
    {
      "createdAt": "2026-02-24T16:03:56.884Z",
      "updatedAt": "2026-02-24T16:03:56.884Z",
      "id": "eCDeIyZWB5Yghn4f",
      "name": "airtable"
    },
    {
      "createdAt": "2026-02-24T16:08:07.603Z",
      "updatedAt": "2026-02-24T16:08:07.603Z",
      "id": "uKKGeOhih8EGt66V",
      "name": "cache"
    }
  ]
}