WF9_Business_Data_Cache_Refresh.json
{
  "name": "WF9 - Business Data Cache Refresh",
  "nodes": [
    {
      "parameters": {
        "content": "# WF9: BUSINESS DATA CACHE REFRESH\n\n**Purpose:** Syncs Google Sheets config data → Redis cache\n\n**Triggers:**\n1. ⏰ Schedule: Every 6 hours\n2. 🔗 Webhook: POST /webhook/cache-refresh (from Apps Script on edit)\n3. ▶️ Manual: Click Execute\n\n**Sequential execution** — fetches sheets one at a time to avoid rate limits.\n\n**Redis Keys Written:**\n- firm:advisors\n- firm:service_tiers\n- firm:advisor_availability\n- firm:config (all Configuration tab as single object)\n- firm:email_templates",
        "height": 440,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-600, -200],
      "id": "sn-wf9-overview",
      "name": "WF9 Overview"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 0 }, { "triggerAtHour": 6 }, { "triggerAtHour": 12 }, { "triggerAtHour": 18 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-200, 100],
      "id": "schedule-trigger",
      "name": "Every 6 Hours"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cache-refresh",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-200, 300],
      "id": "webhook-cache-refresh",
      "name": "Webhook - Cache Refresh"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-200, 500],
      "id": "manual-trigger",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "always-true", "leftValue": "=true", "rightValue": "true", "operator": { "type": "boolean", "operation": "true" } }],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [40, 300],
      "id": "merge-triggers",
      "name": "Merge Triggers"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Advisor Info", "mode": "list" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [280, 300],
      "id": "fetch-advisors",
      "name": "Fetch Advisor Info",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Consultation Services", "mode": "list" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [520, 300],
      "id": "fetch-services",
      "name": "Fetch Consultation Services",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Advisor Availability", "mode": "list" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [760, 300],
      "id": "fetch-availability",
      "name": "Fetch Advisor Availability",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Configuration", "mode": "list" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1000, 300],
      "id": "fetch-config",
      "name": "Fetch Configuration",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Email Templates", "mode": "list" },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1240, 300],
      "id": "fetch-templates",
      "name": "Fetch Email Templates",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "jsCode": "// Build all cache objects from fetched sheet data\nconst advisorRows = $('Fetch Advisor Info').all().map(i => i.json);\nconst serviceRows = $('Fetch Consultation Services').all().map(i => i.json);\nconst availRows = $('Fetch Advisor Availability').all().map(i => i.json);\nconst configRows = $('Fetch Configuration').all().map(i => i.json);\nconst templateRows = $('Fetch Email Templates').all().map(i => i.json);\n\n// --- Advisors: parse specializations into arrays ---\nconst advisors = advisorRows.map(r => ({\n  advisorId: r.advisorId,\n  name: r.name,\n  email: r.email,\n  calendarId: r.calendarId,\n  specializations: (r.specializations || '').split(',').map(s => s.trim()).filter(Boolean),\n  currentCaseload: Number(r.currentCaseload) || 0,\n  maxCaseload: Number(r.maxCaseload) || 25,\n  bio: r.bio || ''\n}));\n\n// --- Service Tiers: parse qualifyingGoals ---\nconst serviceTiers = serviceRows.map(r => ({\n  tierId: r.tierId,\n  tierName: r.tierName,\n  description: r.description,\n  qualifyingGoals: (r.qualifyingGoals || '').split(',').map(s => s.trim()).filter(Boolean),\n  minAssets: r.minAssets\n}));\n\n// --- Availability: keep as-is ---\nconst availability = availRows.map(r => ({\n  date: r.date,\n  advisorId: r.advisorId,\n  advisorName: r.advisorName,\n  workingHours: r.workingHours,\n  blockedTimes: r.blockedTimes || ''\n}));\n\n// --- Config: key-value → single object ---\nconst config = {};\nconfigRows.forEach(r => {\n  if (!r.key) return;\n  let val = r.value;\n  // Try to parse JSON values\n  try { val = JSON.parse(val); } catch(e) {}\n  config[r.key] = val;\n});\n\n// --- Email Templates: keyed by templateKey ---\nconst templates = {};\ntemplateRows.forEach(r => {\n  if (!r.templateKey) return;\n  templates[r.templateKey] = { subject: r.subject, body: r.body };\n});\n\nreturn [{\n  json: {\n    advisors: JSON.stringify(advisors),\n    serviceTiers: JSON.stringify(serviceTiers),\n    availability: JSON.stringify(availability),\n    config: JSON.stringify(config),\n    templates: JSON.stringify(templates),\n    refreshedAt: new Date().toISOString(),\n    keysCount: 5\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1480, 300],
      "id": "build-cache",
      "name": "Build Cache Objects"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "firm:advisors",
        "value": "={{ $json.advisors }}",
        "keyType": "string",
        "expireIn": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1720, 80],
      "id": "cache-advisors",
      "name": "Cache Advisors",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "firm:service_tiers",
        "value": "={{ $json.serviceTiers }}",
        "keyType": "string",
        "expireIn": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1720, 240],
      "id": "cache-services",
      "name": "Cache Service Tiers",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "firm:advisor_availability",
        "value": "={{ $json.availability }}",
        "keyType": "string",
        "expireIn": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1720, 400],
      "id": "cache-availability",
      "name": "Cache Availability",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "firm:config",
        "value": "={{ $json.config }}",
        "keyType": "string",
        "expireIn": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1720, 560],
      "id": "cache-config",
      "name": "Cache Config",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "firm:email_templates",
        "value": "={{ $json.templates }}",
        "keyType": "string",
        "expireIn": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1720, 720],
      "id": "cache-templates",
      "name": "Cache Email Templates",
      "credentials": { "redis": { "id": "YOUR_REDIS_CRED_ID", "name": "Redis" } }
    },
    {
      "parameters": {
        "jsCode": "const refreshedAt = $('Build Cache Objects').first().json.refreshedAt;\nconst keysCount = $('Build Cache Objects').first().json.keysCount;\nreturn [{ json: { timestamp: refreshedAt, event: 'CACHE_REFRESH', details: `Refreshed ${keysCount} cache keys`, status: 'SUCCESS' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1960, 400],
      "id": "log-success",
      "name": "Log Refresh Success"
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "System Log", "mode": "list" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "event": "={{ $json.event }}",
            "details": "={{ $json.details }}",
            "status": "={{ $json.status }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2200, 400],
      "id": "write-log",
      "name": "Write System Log",
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_GOOGLE_SHEETS_CRED_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [1720, 940],
      "id": "error-trigger",
      "name": "Catch Errors"
    },
    {
      "parameters": {
        "sendTo": "admin@northstarwealth.ca",
        "subject": "⚠️ Cache Refresh FAILED — NorthStar Pipeline",
        "message": "=Cache refresh failed at {{ $now.toISO() }}\n\nError: {{ $json.error?.message || JSON.stringify($json) }}\n\nPlease check n8n workflow execution logs.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1960, 940],
      "id": "error-email",
      "name": "Send Error Alert",
      "credentials": { "gmailOAuth2": { "id": "YOUR_GMAIL_CRED_ID", "name": "Gmail" } }
    }
  ],
  "connections": {
    "Every 6 Hours": { "main": [[{ "node": "Fetch Advisor Info", "type": "main", "index": 0 }]] },
    "Webhook - Cache Refresh": { "main": [[{ "node": "Fetch Advisor Info", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Fetch Advisor Info", "type": "main", "index": 0 }]] },
    "Fetch Advisor Info": { "main": [[{ "node": "Fetch Consultation Services", "type": "main", "index": 0 }]] },
    "Fetch Consultation Services": { "main": [[{ "node": "Fetch Advisor Availability", "type": "main", "index": 0 }]] },
    "Fetch Advisor Availability": { "main": [[{ "node": "Fetch Configuration", "type": "main", "index": 0 }]] },
    "Fetch Configuration": { "main": [[{ "node": "Fetch Email Templates", "type": "main", "index": 0 }]] },
    "Fetch Email Templates": { "main": [[{ "node": "Build Cache Objects", "type": "main", "index": 0 }]] },
    "Build Cache Objects": { "main": [[
      { "node": "Cache Advisors", "type": "main", "index": 0 },
      { "node": "Cache Service Tiers", "type": "main", "index": 0 },
      { "node": "Cache Availability", "type": "main", "index": 0 },
      { "node": "Cache Config", "type": "main", "index": 0 },
      { "node": "Cache Email Templates", "type": "main", "index": 0 }
    ]] },
    "Cache Config": { "main": [[{ "node": "Log Refresh Success", "type": "main", "index": 0 }]] },
    "Log Refresh Success": { "main": [[{ "node": "Write System Log", "type": "main", "index": 0 }]] },
    "Catch Errors": { "main": [[{ "node": "Send Error Alert", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "wf9-cache-refresh-v1",
  "meta": { "instanceId": "northstar-pipeline" },
  "id": "wf9-cache-refresh",
  "tags": [{ "name": "northstar" }, { "name": "cache" }]
}
